// KSVotes branding
$ksv-green: #007682;
$ksv-red: #aa3339;

@import "MDB/scss/mdb";

body {
  font-size: 18px;
  line-height: 28px;
  background-color: #FAFAFA;
}
footer {
  margin-top: 24px;

  img.logo {
    max-width: 256px;
    margin-left: auto;
    margin-right: auto;
  }

  a:hover {
    color: $gray-300;
    transition: $navbar-scrolling-transition;
  }

}

.help {
  margin-bottom: 5rem;
}

#hero {
  img.logo {
    max-height: 124px;
    margin-left: auto;
    margin-right: auto;
  }
  .jumbotron {
    background: url(../img/KSVotes_Hero.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;
  }
}

img {
  max-width: 100%;
  display: block;
}
#main-content {
  margin-top: 24px;
}

#step-nav {
  text-align: center;
  color: $ksv-green;
  padding: 15px 40px 15px 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 8px 6px -6px #ddd;
  position: relative;
}

a {
  color: $ksv-green;
}

a:hover {
  color: $ksv-red;
}

a.icon {
  color: $ksv-red;
  font-size: 48px;
}

.navbar.navbar-dark {
  img.logo {
    max-height: 48px;
  }
}

.ksv-green {
  background-color: $ksv-green;
}

.btn-outline-default {
  color: $ksv-green;
  border-color: $ksv-green;
}

#signature {
  border: 2px solid $primary-color;
  display: block;
  margin: 0 auto;
  background-color: #eee;
}
.form-group {
  label {
    color: #757575;
    font-size: .9em;
  }
  select {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: right 50%;
    background-repeat: no-repeat;
    padding: .5em;
    padding-right: 1.5em;
  }
  .postfix {
    color: #ced4da;
    position: absolute;
    top: 15px;
    right: 15px;
    &:hover,
    &:focus,
    &:active {
      color: $default-color;
    }
  }
}
form {
  padding: 15px 40px 15px 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 8px 6px -6px #ddd;
  position: relative;
  .loading {
    display: none;
  }
  .form-check {
    margin-bottom: 15px;
    .form-check-label {
      margin-left: 15px;
      font-size: .8em;
    }
    .postfix {
      color: #ced4da;
      position: absolute;
      top: 15px;
      right: -25px;
      &:hover,
      &:focus,
      &:active {
        color: $default-color;
      }
    }
  }
  .previous-name-fields {
    display: none;
  }
  .previous-address-fields {
    display: none;
  }
  .mail-address-fields {
    display: none;
  }

  fieldset {
    legend {
      margin-bottom: 12px;
    }
  }
}

.parsley-errors-list {
  list-style: none;
  margin: 0;
  margin-top:-.25rem;
  padding:0px;
  font-size: .7em;
  color: $primary-color;
}
.parsley-error {
  border-bottom: 1px solid $primary-color !important;
  box-shadow: 0 1px 0 0 $primary-color !important;
}

.parsley-success:not(.form-check-input) {
  border-bottom: 1px solid $default-color !important;
  box-shadow: 0 1px 0 0 $default-color !important;
}

.md-form {
  .postfix {
    color: #ced4da;
    position: absolute;
    top: 15px;
    right: -25px;
    &:hover,
    &:focus,
    &:active {
      color: $default-color;
    }
  }
}
.tooltip-inner {

    background-color: $default-color;
}
.tooltip.bs-tooltip-auto[x-placement^=left] .arrow::before,
.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before,
.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before,
.tooltip.bs-tooltip-left .arrow::before {
    border-left-color: $default-color;
}

#mask {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.3);
  top: 0;
  left: 0;
  display: none;
  z-index: 1001;
}

div.clerk-details {
  margin: 12px;
  padding: 15px 40px 15px 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 8px 6px -6px #ddd;
  position: relative;
}

table.clerk-details {
  th, td {
    padding: 4px 8px;
    vertical-align: top;
  }
  th {
    text-align: right;
  }
}

.error {
  h1 {
    margin-top: 2rem;
  }
}

.modal-dialog {
  width: 100%;
  height: 100%;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}
