<link rel="apple-touch-icon" sizes="57x57" href="{{url_for('static', filename='img/favicon/apple-icon-57x57.png', _external=True)}}">
<link rel="apple-touch-icon" sizes="60x60" href="{{url_for('static', filename='img/favicon/apple-icon-60x60.png', _external=True)}}">
<link rel="apple-touch-icon" sizes="72x72" href="{{url_for('static', filename='img/favicon/apple-icon-72x72.png', _external=True)}}">
<link rel="apple-touch-icon" sizes="76x76" href="{{url_for('static', filename='img/favicon/apple-icon-76x76.png', _external=True)}}">
<link rel="apple-touch-icon" sizes="114x114" href="{{url_for('static', filename='img/favicon/apple-icon-114x114.png', _external=True)}}">
<link rel="apple-touch-icon" sizes="120x120" href="{{url_for('static', filename='img/favicon/apple-icon-120x120.png', _external=True)}}">
<link rel="apple-touch-icon" sizes="144x144" href="{{url_for('static', filename='img/favicon/apple-icon-144x144.png', _external=True)}}">
<link rel="apple-touch-icon" sizes="152x152" href="{{url_for('static', filename='img/favicon/apple-icon-152x152.png', _external=True)}}">
<link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='img/favicon/apple-icon-180x180.png', _external=True)}}">
<link rel="icon" type="image/png" sizes="192x192"  href="{{url_for('static', filename='img/favicon/android-icon-192x192.png', _external=True)}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='img/favicon/favicon-32x32.png', _external=True)}}">
<link rel="icon" type="image/png" sizes="96x96" href="{{url_for('static', filename='img/favicon/favicon-96x96.png', _external=True)}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='img/favicon/favicon-16x16.png', _external=True)}}">
<!-- For IE 9 and below. ICO should be 32x32 pixels in size -->
<!--[if IE]><link rel="shortcut icon" href="{{url_for('static', filename='img/favicon/favicon-32x32.png', _external=True)}}"><![endif]-->
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{url_for('static', filename='img/favicon/ms-icon-144x144.png', _external=True)}}">
<meta name="theme-color" content="#ffffff">
