{% extends 'base.html' %}
{% set current_step = '3' %}
{% set previous_step_url = url_for('main.ab1_election_picker') %}
{% import 'macros/_render_field.html' as wtf %}

{% block title %} Address {% endblock %}

{% block content %}
<section id="formsection">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form name="step_3" id="step_3" method="POST" action="{{url_for('main.ab3_address')}}">
         <fieldset>
          <legend>{{_('3_legend')}}</legend>

          {{form.hidden_tag()}}

          {{wtf.render_field(
            form.addr,
            _('3_addr_help'),
            {
              'required':'required',
              'data-parsley-error-message': _('Required'),
              'autocomplete':'off',
              'data-parsley-trigger':'focusout'
            }
            )}}

            {{wtf.render_field(
              form.unit,
              _('3_unit'),
              None,
              )}}

            {{wtf.render_field(
              form.city,
              _('3_city'),
              {
                'required':'required',
                'data-parsley-error-message': _('Required'),
                'autocomplete':'off',
                'data-parsley-trigger':'focusout'
              }
              )}}

            {{wtf.render_field(
              form.state,
              _('3_state'),
              {
                'required':'required',
                'data-parsley-error-message': _('Required'),
                'autocomplete':'off',
                'data-parsley-trigger':'focusout'
              }
              )}}

            {{wtf.render_field(
              form.zip,
              _('3_zip_help'),
              {
                'required':'required',
                'data-parsley-error-message': _('Required'),
                'autocomplete':'off',
                'data-parsley-trigger':'focusout',
                'data-parsley-pattern-message': _('0_zip_help'),
                'data-parsley-pattern': "/^\d{5}$/",
              }
              )}}

          {{wtf.render_field(
            form.has_mail_addr,
            _('3_has_mail_addr'),
            )}}

          <div class="mail-address-fields">

            <h1 class="h1-responsive"> {{_('3_mail_addr_header')}} </h1>
            {{wtf.render_field(
              form.mail_addr,
              _('3_mail_addr'),
              {
                'data-parsley-error-message': _('Required'),
                'autocomplete':'off',
                'data-parsley-trigger':'focusout'
              }
              )}}

              {{wtf.render_field(
                form.mail_unit,
                _('3_mail_unit'),
                None,
                )}}

              {{wtf.render_field(
                form.mail_city,
                _('3_mail_city'),
                {
                  'data-parsley-error-message': _('Required'),
                  'autocomplete':'off',
                  'data-parsley-trigger':'focusout'
                }
                )}}

              {{wtf.render_field(
                form.mail_state,
                _('3_mail_state'),
                {
                  'data-parsley-error-message': _('Required'),
                  'autocomplete':'off',
                  'data-parsley-trigger':'focusout'
                }
                )}}

              {{wtf.render_field(
                form.mail_zip,
                _('3_zip_help'),
                {
                  'data-parsley-error-message': _('Required'),
                  'autocomplete':'off',
                  'data-parsley-trigger':'focusout',
                  'data-parsley-pattern-message': _('0_zip_help'),
                  'data-parsley-pattern': "/^\d{5}$/",
                }
                )}}
          </div><!-- mail address fields -->

          {% include 'form-buttons.html' %}

         </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block js_footer %}
<script>
$(function () {
  //initialize form with parsley validation
  var form = $('#step_3');
  // for refresh/backbutton initialization 
  if($('input[name=has_mail_addr]').is(':checked')) {
    $('.mail-address-fields').show();
    $('#mail_zip').attr("required", true);
    $('#mail_state').attr("required", true);
    $('#mail_city').attr("required", true);
    $('#mail_addr').attr("required", true);
  }

  $('input[name=has_mail_addr]').change(
      function(){
          if (this.checked) {
              $('.mail-address-fields').show();
              $('#mail_zip').attr("required", true);
              $('#mail_state').attr("required", true);
              $('#mail_city').attr("required", true);
              $('#mail_addr').attr("required", true);

          } else {
              $('.mail-address-fields').hide();
              $('#mail_zip').removeAttr("required").val('').blur();
              $('#mail_state').removeAttr("required").val('').blur();
              $('#mail_city').removeAttr("required").val('').blur();
              $('#mail_addr').removeAttr("required").val('').blur();
          }
      });

  form.parsley()
});
</script>
{% endblock %}
