{% extends 'base.html' %}
{% set current_step = '5' %}
{% set previous_step_url = url_for('main.ab6_preview_sign') %}
{% set flow_flavor = 'ab' %}

{% block title %}Affirmation{% endblock %}

{% block content %}
<section id="formsection">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 mb-2">
        {{_('7_explain')}}
      </div>

      <div class="mt-4 col-md-12">
        {% for preview_img in preview_imgs %}
          {% include 'preview-img.html' %}
        {% endfor %}
      </div>

      {% with redirect_url='main.ab7_affirmation' %}
        {% include '_county-selector-card.html' %}
      {% endwith %}

    {% if clerk %}
      <div class="mt-4 col-md-8">
        <div class='card'>
          <div class='card-body'>
            <form name="step_7" id="step_7" method="POST"  action="{{url_for('main.ab7_affirmation')}}">
             <fieldset>
              <legend>{{_('7_legend')}}</legend>

              {{form.hidden_tag()}}

              {{wtf.render_field(
              form.affirmation,
              _('7_affirm_help'),
              {
                'required':'required',
                'data-parsley-error-message': _('Required'),
              }
              )}}

              {% with next_btn=_('btn_submit') %}
              {% include 'form-buttons.html' %}
              {% endwith %}

             </fieldset>
            </form>
          </div>
        </div>
      </div>
    {% endif %}
    </div>
  </div>
</section>
{% endblock %}

{% block js_footer %}
<script>
$(function () {
  //initialize form with parsley validation
  var form = $('#step_7');
  form.parsley();

  {% include 'change-county.js' %}
});

</script>
{% endblock %}
