{% extends 'base.html' %}
{% set current_step = '7' %}
{% set previous_step_url = url_for('main.ab6_preview_sign') %}
{% import 'macros/_render_field.html' as wtf %}

{% block title %} Preview {% endblock %}

{% block content %}
<section id="formsection">
  <div class="container">
    <div class="row justify-content-center">
      <div class="mt-4 clerk-details col-md-6">
        <p>{{_('7_clerk_send_to')}}</p>
        {% include 'clerk-details.html' %}
      </div>
      <div class="mt-4 mb-4 col-md-12">
        {% for preview_img in preview_imgs %}
        <div class="card">
         <div class="card-body">
          <img src="{{preview_img}}"/>
         </div>
        </div>
        {% endfor %}
      </div>
      <div class="col-md-6">
          <form name="step_7" id="step_7" method="POST"  action="{{url_for('main.ab7_affirmation')}}">
           <fieldset>
            <legend>{{_('7_legend')}}</legend>

            {{form.hidden_tag()}}

            {{wtf.render_field(
            form.affirmation,
            _('7_affirm_help'),
            {
              'required':'required',
              'data-parsley-error-message': _('Required'),
            }
            )}}

            {% include 'form-buttons.html' %}

           </fieldset>
          </form>

      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block js_footer %}
<script>
$(function () {
  //initialize form with parsley validation
  var form = $('#step_7');
  form.parsley()
});

</script>
{% endblock %}
