{% extends 'base.html' %}
{% import 'macros/_render_field.html' as wtf %}
{% set current_step = '1' %}
{% set previous_step_url = url_for('main.index') %}
{% block title %} {{_('AB1_title')}} {% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form name="step_ab1" id="step_ab1" method="POST" action="{{url_for('main.ab1_election_picker')}}" novalidate>
       <fieldset>
        <legend>{{_('AB1_legend')}}</legend>

        {{form.hidden_tag()}}

        {{wtf.render_field(
            form.elections,
            _('1AB_election_help'),
            {
              'required': 'required',
              'data-parsley-required-message': _('Required'),
              'data-parsley-multiple': 'elections',
            }
          )}}
        <div id="elections-required-error" class="parsley-error parsley-errors-list" style="display:none">
          {{_('Required')}}
        </div>
        <div id="party-picker" style="display:none">
        {{wtf.render_field(
              form.party,
              _('1AB_party_help'),
              {
                'data-parsley-trigger':'focusout',
                'data-parsley-required-message': _('Required')
              }
              )}}
        </div>

        {% include 'form-buttons.html' %}

       </fieldset>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block js_footer %}
<script>
$(function () {
  // toggle party select visibility/requirement if elections contains a primary
  let $party_picker = $('#party-picker');
  $party_picker.hide();

  //initialize form with parsley validation
  let $form = $('#step_ab1');
  $form.parsley();

  function requireParty() {
    $('#party').attr("required", true);
    $party_picker.show();
  }
  function unrequireParty() {
    $('#party').removeAttr("required");
    $party_picker.hide();
  }

  $('#elections input').change(function(e) {
    let checked = $(this).is(':checked');
    let election = $(this).val();
    if (election.match(/Primary/)) {
      if (checked) {
        requireParty();
      }
      else {
        unrequireParty();
      }
    }
  });

  // if we only have one election, check it.
  if ($('#elections input').length == 1) {
    $('#elections input').prop('checked', true);
  }

  // handle the Required logic ourselves (too complex for Parsley)
  $('#btn-next').click(function(ev) {
    let hasPrimary = false;
    let oneChecked = false;
    let elections = $('#elections');
    let error_msg = $('#elections-required-error');
    error_msg.hide(); // always clear to start with.
    $('#elections input').each(function(idx, el) {
      let checkbox = $(el);
      if (checkbox.is(':checked')) {
        oneChecked = true;
        if (checkbox.val().match(/Primary/)) {
          hasPrimary = true;
        }
      }
    });
    //console.log('oneChecked?', oneChecked);
    //console.log('hasPrimary?', hasPrimary);
    if (!oneChecked) {
      // handle field invalidation manually because parsley does not catch it.
      //console.log('no elections checked');
      error_msg.show();
      ev.preventDefault();
      return false;
    }
    if (hasPrimary) {
      if ($('#party').val() == "") {
        $form.parsley().validate();
        ev.preventDefault();
        return false;
      }
    }
    return true;
  });

});

</script>
{% endblock %}
