{% extends 'base.html' %}
{% import 'macros/_render_field.html' as wtf %}
{% set current_step = '1' %}
{% set previous_step_url = url_for('main.index') %}
{% block title %} {{_('AB1_title')}} {% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form name="step_ab1" id="step_ab1" method="POST" action="{{url_for('main.ab1_election_picker')}}" novalidate>
       <fieldset>
        <legend>{{_('AB1_legend')}}</legend>

        {{form.hidden_tag()}}

        {{wtf.render_field(
            form.elections,
            _('1AB_election_help'),
            {
              'required': 'required',
              'data-parsley-required-message': _('Required'),
              'data-parsley-trigger': 'focusout'
            }
          )}}
        <div id="party-picker">
        {{wtf.render_field(
              form.party,
              _('1AB_party_help'),
              {
                'data-parsley-trigger':'focusout',
                'data-parsley-required-message': _('Required')
              }
              )}}
        </div>

        {% include 'form-buttons.html' %}

       </fieldset>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block js_footer %}
<script>
$(function () {
  //initialize form with parsley validation
  let $form = $('#step_ab1');
  $form.parsley();

  // toggle party select visibility/requirement if elections contains a primary
  let $party_picker = $('#party-picker');
  $party_picker.hide();
  $('#elections').select2({
    placeholder: '{{_("1AB_select_election")}}',
  });
  $('#elections').on('select2:select', function(e) {
    let payload = e.params.data;
    if (payload.text.match(/Primary/)) {
      $('#party').attr("required", true);
      $party_picker.show();
    }
  });
  $('#elections').on('select2:unselect', function(e) {
    let payload = e.params.data;
    if (payload.text.match(/Primary/)) {
      $('#party').removeAttr("required");
      $party_picker.hide();
    }
  });
  // party required if primary election
  $('#btn-next').click(function(ev) {
    let hasPrimary = false;
    $.each($('#elections').val(), function(idx, v) {
      if (v.match(/Primary/)) {
        hasPrimary = true;
      }
    });
    if (hasPrimary) {
      if ($('#party').val() == "") {
        $form.parsley().validate();
        ev.preventDefault();
        return false;
      }
    }
  });

});

</script>
{% endblock %}
