{% extends 'base.html' %}
{% set current_step = '4' %}
{% set previous_step_url = url_for('main.ab5_identification') %}
{% set flow_flavor = 'ab' %}

{% block title %}Preview{% endblock %}

{% block content %}
<section id="formsection">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 mb-2">
       <div class="my-3 card">
        <div class="card-body">
         <p>{{_('6_header')}}</p>
         <p>{{_('6_header2')}}</p>
        </div>
       </div>
      </div>
      <div class="col-md-12">
       {% for preview_img in preview_imgs %}
       <div class="card">
        <div class="card-body">
          <img src="{{preview_img}}"/>
        </div>
       </div>
       {% endfor %}
      </div>
      <div class="mt-4 col-md-12">
        <div class='card'>
          <div class='card-body'>
            <form name="step_6" id="step_6" method="POST"  action="{{url_for('main.ab6_preview_sign')}}">
             <fieldset>
              <legend>{{_('6_legend')}}</legend>
              {{form.hidden_tag()}}
              <div class="form-group">
                <label>{{_('6_sign')}}</label>
                <i class="fa fa-info-circle postfix" data-toggle="tooltip" data-placement="left" title="{{_('6_sign_help')}}"></i>
                <div id="signature-wrapper">
                  <div id="signature"></div>
                </div>
                <ul class="parsley-errors-list filled">
                  {% for error in form.signature_string.errors %}
                    <li>{{error}}</li>
                  {% endfor %}
                </ul>
              </div>
              <div class="clear-button mt-4">
               <button class="btn btn-outline-primary" onclick="return resetHiddenSignatureImg()">{{_('btn_clear')}}</button>
              </div>
              <div class="mt-5">
                <div class="float-left">
                  <a id="btn-back" class="btn btn-outline-blue-grey">
                   <i class="fa fa-angle-left mr-2"></i> {{_('btn_back')}}
                  </a>
                </div>
                <div class="float-right">
                  <button id="sign-button" class="btn btn-outline-default" type="submit">
                   <i class="fa checkmark fa-check mr-2"></i>{{_('btn_sign')}}
                  </button>
                </div>
              </div>
             </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block js_footer %}
{% include '_signature.js' %}
<script>
  $(function () {
    //initialize form with parsley validation
    var form = $('#step_6');
    form.parsley()
  });
</script>
{% endblock %}
