{% extends 'base.html' %}
{% set current_step = '6' %}
{% set previous_step_url = url_for('main.ab7_affirmation') %}
{% set flow_flavor = 'ab' %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <p>{{_('AB8_confirm')}}</p>

      <div class="clerk-details">
        <p>{{_('8_clerk_sent_to')}}</p>
        {% include 'clerk-details.html' %}
      </div>

      {% include 'forget-session-button.html' %}
    </div>
  </div>
</div>
{% endblock %}
