html {
  font-size: 18px;
}

body {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  font-family: $sans;
  font-size: 100%;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: avenir next, avenir, $sans;
}

label {
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
  padding-right: 1rem;
}

.card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
}

.card .card-body h1,
.card .card-body h2,
.card .card-body h3,
.card .card-body h4,
.card .card-body h5,
.card .card-body h6 {
  font-weight: 500;
}

.btn {
  margin: 0;
}

.lead {
  font-weight: inherit;
}

.tooltip-inner {
  font-size: 0.75rem;
  line-height: 1.3;
  text-align: left;
}

.alert {
  font-size: 0.875rem;
  position: relative;

  .fa {
    position: absolute;
    left: -0.5rem;
    top: -0.5rem;
    font-size: 1rem;
  }
}

.form-group {
  position: relative;
}

.form-check-input {
  margin-top: 0.4rem;
}

.parsley-errors-list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0.25rem;
  padding: 0px;
  font-size: 12px;
  color: #dc3545;
}

.parsley-error {
  border-color: #dc3545;
}

.parsley-error .form-check-label {
  color: #dc3545;
}

.parsley-error:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.parsley-success {
  border-color: #28a745;
}

.parsley-success:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.postfix {
  color: #ced4da;
  position: absolute;
  top: 9px;
  right: 0;
  font-size: 15px;
  &:hover,
  &:focus,
  &:active {
    color: $default-color;
    cursor: pointer;
  }
}

#signature {
  border: 3px solid $primary-color;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  background-color: #f9f9f9;
}

/* additional, misc stylez */

footer {
  img {
    max-width: 256px;
  }

  a:hover {
    color: $gray-300;
    transition: $navbar-scrolling-transition;
  }
}

#hero {
  img.logo {
    max-height: 124px;
    margin-left: auto;
    margin-right: auto;
  }

  .jumbotron {
    background: url(../img/KSVotes_Hero.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;
  }
}

img {
  max-width: 100%;
  display: block;
}

#main-content {
  margin-top: 24px;
}

#step-nav {
  text-align: center;
  color: $ksv-green;
  position: relative;
  padding: 0.75rem;

  .current {
    color: $gray-600;
  }
  .incomplete {
    color: $gray-300;
  }
}

a {
  color: $ksv-green;
}

a:hover {
  color: $ksv-red;
}

a.icon {
  color: $ksv-red;
}

.ksv-green {
  background-color: $ksv-green;
}

.ksv-green-color {
  color: $ksv-green;
}

.ksv-flow-vr {
  background-color: $ksv-green;
}

.ksv-flow-ab {
  background-color: $ksv-red;
}

.ksv-red-color {
  color: $ksv-red;
}

.btn-outline-default {
  color: $ksv-green;
  border-color: $ksv-green;
}

form {
  .loading,
  .previous-name-fields,
  .previous-address-fields,
  .mail-address-fields {
    display: none;
  }

  fieldset {
    legend {
      font-family: avenir next, avenir, $sans;
      font-weight: 500;
      line-height: 1.3;
      margin-bottom: 1rem;
    }
  }
}

.tooltip-inner {
  background-color: $default-color;
}

.tooltip.bs-tooltip-auto[x-placement^='left'] .arrow::before,
.tooltip.bs-tooltip-auto[x-placement^='bottom'] .arrow::before,
.tooltip.bs-tooltip-auto[x-placement^='right'] .arrow::before,
.tooltip.bs-tooltip-auto[x-placement^='top'] .arrow::before,
.tooltip.bs-tooltip-left .arrow::before {
  border-left-color: $default-color;
}

#mask {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  display: none;
  z-index: 1001;
}

div.clerk-details {
  padding: 15px 40px 15px 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 8px 6px -6px #ddd;
  position: relative;
}

table.clerk-details,
#voter-view table {
  th,
  td {
    padding: 4px 8px;
    vertical-align: top;
  }
  th {
    text-align: right;
  }
}

.error {
  h1 {
    margin-top: 2rem;
  }
}

.modal-dialog {
  width: 100%;
  height: 100%;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

#elections.form-check-input {
  position: static;
  list-style: none;
}

#address-validation {
  h6 {
    color: $gray-900;
  }
}
