html {
  font-size: 18px;
}

body {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  font-family: $sans;
  font-size: 100%;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: avenir next, avenir, $sans;
}

.postfix {
  color: #ced4da;
  position: absolute;
  top: 15px;
  right: 0;
  &:hover,
  &:focus,
  &:active {
    color: $default-color;
    cursor: pointer;
  }
}
