html {
  font-size: 18px;
}

body {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  font-family: $sans;
  font-size: 100%;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: avenir next, avenir, $sans;
}

.card .card-body h1,
.card .card-body h2,
.card .card-body h3,
.card .card-body h4,
.card .card-body h5,
.card .card-body h6 {
  font-weight: 500;
}

.postfix {
  color: #ced4da;
  position: absolute;
  top: 15px;
  right: 0;
  &:hover,
  &:focus,
  &:active {
    color: $default-color;
    cursor: pointer;
  }
}

.btn {
  margin: 0;
}

.form-check-input {
  margin-top: 0.4rem;
}

.tooltip-inner {
  font-size: 0.75rem;
  line-height: 1.3;
  text-align: left;
}

.alert {
  font-size: 0.875rem;
  position: relative;

  .fa {
    position: absolute;
    left: -0.5rem;
    top: -0.5rem;
    font-size: 1rem;
  }
}

#signature {
  border: 3px solid $primary-color;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  background-color: #f9f9f9;
}
