footer {
  img {
    max-width: 256px;
  }

  a:hover {
    color: $gray-300;
    transition: $navbar-scrolling-transition;
  }
}

.help {
  margin-bottom: 5rem;
}

#hero {
  img.logo {
    max-height: 124px;
    margin-left: auto;
    margin-right: auto;
  }

  .jumbotron {
    background: url(../img/KSVotes_Hero.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;
  }
}

img {
  max-width: 100%;
  display: block;
}

#main-content {
  margin-top: 24px;
}

#step-nav {
  text-align: center;
  color: $ksv-green;
  padding: 15px 40px 15px 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 8px 6px -6px #ddd;
  position: relative;
}

a {
  color: $ksv-green;
}

a:hover {
  color: $ksv-red;
}

a.icon {
  color: $ksv-red;
}

.navbar.navbar-dark {
  img.logo {
    max-height: 48px;
  }
}

.ksv-green {
  background-color: $ksv-green;
}

.ksv-green-color {
  color: $ksv-green;
}

.ksv-flow-vr {
  background-color: $ksv-green;
}

.ksv-flow-ab {
  background-color: $ksv-red;
}

.ksv-red-color {
  color: $ksv-red;
}

.btn-outline-default {
  color: $ksv-green;
  border-color: $ksv-green;
}

.form-group {
  position: relative;
  label {
    color: #757575;
    font-size: 0.8rem;
  }
  select {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: right 50%;
    background-repeat: no-repeat;
    padding: 0;
  }
}

form {
  .loading,
  .previous-name-fields,
  .previous-address-fields,
  .mail-address-fields {
    display: none;
  }

  fieldset {
    legend {
      margin-bottom: 0.5rem;
    }
  }
}

form.plain {
  box-shadow: none;
  border: none;
}

.parsley-errors-list {
  list-style: none;
  margin: 0;
  margin-top: -0.25rem;
  padding: 0px;
  font-size: 0.7em;
  color: $primary-color;
}

.parsley-error {
  border-bottom: 1px solid $primary-color !important;
  box-shadow: 0 1px 0 0 $primary-color !important;
}

.parsley-success:not(.form-check-input) {
  border-bottom: 1px solid $default-color !important;
  box-shadow: 0 1px 0 0 $default-color !important;
}

.tooltip-inner {
  background-color: $default-color;
}

.tooltip.bs-tooltip-auto[x-placement^='left'] .arrow::before,
.tooltip.bs-tooltip-auto[x-placement^='bottom'] .arrow::before,
.tooltip.bs-tooltip-auto[x-placement^='right'] .arrow::before,
.tooltip.bs-tooltip-auto[x-placement^='top'] .arrow::before,
.tooltip.bs-tooltip-left .arrow::before {
  border-left-color: $default-color;
}

#mask {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  display: none;
  z-index: 1001;
}

div.clerk-details {
  padding: 15px 40px 15px 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 8px 6px -6px #ddd;
  position: relative;
}

table.clerk-details,
#voter-view table {
  th,
  td {
    padding: 4px 8px;
    vertical-align: top;
  }
  th {
    text-align: right;
  }
}

.error {
  h1 {
    margin-top: 2rem;
  }
}

.modal-dialog {
  width: 100%;
  height: 100%;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

#elections.form-check-input {
  position: static;
  list-style: none;
}

#address-validation {
  h6 {
    color: $gray-900;
  }
}
