.bold {
  font-weight: 700;
}

.fs-14 {
  font-size: 14px;
}

.fs-12 {
  font-size: 12px;
}

.measure {
  max-width: 30em;
}

.border-thick {
  border-width: 5px;
}

.line-height-1 {
  line-height: 1;
}

.top-5 {
  top: 5px;
}
