{% macro render_field(field, help_text, additional_attributes) %}

  {% if field is a_text_field or 'Select' in field.__class__.__name__ %}
  <div class="form-group">
      {{field.label}}
      {% if additional_attributes %}
        {{field(class="form-control", **additional_attributes)}}
      {% else%}
        {{field(class="form-control")}}
      {% endif %}
      {% if help_text %}
        <i class="fa fa-info-circle postfix" data-html="true" data-toggle="tooltip" data-placement="left" title="{{help_text}}"></i>
      {% endif %}
      {% if field.errors %}
        <ul class="parsley-errors-list filled">
          {% for error in field.errors %}
            <li>{{error}}</li>
          {% endfor %}
        </ul>
      {% endif %}
  </div>
  {% endif %}

  {% if field.widget.input_type == 'checkbox' %}
  <div class="form-group">
    <div class="form-check">
    {% if additional_attributes %}
      {{field(class="form-check-input", **additional_attributes)}}
    {% else%}
      {{field(class="form-check-input")}}
    {% endif %}
    {{field.label(class="form-check-label pr-3")}}
    {% if help_text %}
      <i class="fa fa-info-circle postfix top-5" data-html="true" data-toggle="tooltip" data-placement="left" title="{{help_text}}"></i>
    {% endif %}
    {% if field.errors %}
      <ul class="parsley-errors-list filled">
        {% for error in field.errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    {% endif %}
    </div>
  </div>
  {% endif %}

  {% if field.type == 'RadioBooleanField' %}
  <div class="form-group">
    {{field.label(class="pr-3")}}
    {% if additional_attributes %}
      {{field(**additional_attributes)}}
    {% else%}
      {{field()}}
    {% endif %}
    {% if help_text %}
      <i class="fa fa-info-circle postfix top-5" data-html="true" data-toggle="tooltip" data-placement="left" title="{{help_text}}"></i>
    {% endif %}

    {% if field.errors %}
      <ul class="parsley-errors-list filled">
        {% for error in field.errors %}
          <li> {{ error }} </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
  {% endif %}

  {% if 'MultiCheckboxField' in field.__class__.__name__  %}
    <div class="form-group" id="{{field.id}}">
      {{field.label(class="fs-16")}}
      {% for f in field %}
        <div class="form-check">
          {% if additional_attributes %}
            {{f(class="form-check-input", **additional_attributes)}}
          {% else%}
            {{f(class="form-check-input")}}
          {% endif %}
          {{f.label(class="form-check-label")}}
        </div>
      {% endfor %}
      {% if help_text %}
        <i class="fa fa-info-circle postfix" data-html="true" data-toggle="tooltip" data-placement="left" title="{{help_text}}"></i>
      {% endif %}
      {% if field.errors %}
        <ul class="parsley-errors-list filled">
          {% for error in field.errors %}
            <li>{{error}}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  {% endif %}

  {% if 'Recaptcha' in field.__class__.__name__ %}
    {{field}}
    {% if field.errors %}
      <ul class="parsley-errors-list filled">
        {% for error in field.errors %}
          <li> {{ error }} </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endif %}

{% endmacro %}
