{% macro render_field(field, help_text, additional_attributes) %}

  {% if field.widget.input_type == 'text' %}
  <div class="md-form">
      {% if additional_attributes %}
        {{field(class="form-control", **additional_attributes)}}
      {% else%}
        {{field(class="form-control")}}
      {% endif %}

    {{field.label}}

      {% if help_text %}
        <i class="fa fa-info-circle postfix" data-toggle="tooltip" data-placement="left" title="{{help_text}}"></i>
      {% endif %}

      {% if field.errors %}
        <ul class="parsley-errors-list filled">
          {% for error in field.errors %}
            <li> {{ error }} </li>
          {% endfor %}
        </ul>
      {% endif %}
  </div>

  {% endif %}

  {% if field.widget.input_type == 'checkbox' %}
  <div class="form-check">
    {% if additional_attributes %}
      {{field(class="form-check-input", **additional_attributes)}}
    {% else%}
      {{field(class="form-check-input")}}
    {% endif %}

    {{field.label(class="form-check-label")}}
    {% if help_text %}
      <i class="fa fa-info-circle postfix" data-toggle="tooltip" data-placement="left" title="{{help_text}}"></i>
    {% endif %}

    {% if field.errors %}
      <ul class="parsley-errors-list filled">
        {% for error in field.errors %}
          <li> {{ error }} </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
  {% endif %}

  {% if 'Select' in field.__class__.__name__  %}
    <div class="form-group md-form">
      {{field.label(class="sr-only")}}

      {% if additional_attributes %}
        {{field(class="form-control", **additional_attributes)}}
      {% else%}
        {{field(class="form-control")}}
      {% endif %}

      {% if help_text %}
        <i class="fa fa-info-circle postfix" data-toggle="tooltip" data-placement="left" title="{{help_text}}"></i>
      {% endif %}

      {% if field.errors %}
        <ul class="parsley-errors-list filled">
          {% for error in field.errors %}
            <li> {{ error }} </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  {% endif %}

  {% if 'Recaptcha' in field.__class__.__name__ %}
    {{field}}
    {% if field.errors %}
      <ul class="parsley-errors-list filled">
        {% for error in field.errors %}
          <li> {{ error }} </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endif %}



{% endmacro %}
