{% extends 'base.html' %}
{% set current_step = '7' %}
{% set previous_step_url = url_for('main.vr6_preview_sign') %}
{% import 'macros/_render_field.html' as wtf %}

{% block title %} Preview {% endblock %}

{% block content %}
<section id="formsection">
  <div class="container">
    <div class="row justify-content-center">
      <div class="clerk-details col-md-6">
        <p>{{_('7_clerk_send_to')}}</p>
        {% include 'clerk-details.html' %}
        {% with this_url='main.vr7_affirmation' %}
        {% include 'change-county.html' %}
        {% endwith %}
      </div>
      <div class="mt-2 col-md-12">
       <div class="card">
        <div class="card-body">
         <img src="{{preview_img}}"/>
        </div>
       </div>
      </div>
      <div class="mt-2 col-md-6">
          <form name="step_7" id="step_7" method="POST"  action="{{url_for('main.vr7_affirmation')}}">
           <fieldset>
            <legend>{{_('7_legend')}}</legend>

            {{form.hidden_tag()}}

            {{wtf.render_field(
            form.affirmation,
            _('7_affirm_help'),
            {
              'required':'required',
              'data-parsley-error-message': _('Required'),
            }
            )}}

            {% with next_btn=_('btn_submit') %}
            {% include 'form-buttons.html' %}
            {% endwith %}

           </fieldset>
          </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block js_footer %}
<script>
$(function () {
  //initialize form with parsley validation
  var form = $('#step_7');
  form.parsley()

  {% include 'change-county.js' %}
});

</script>
{% endblock %}
