{% extends 'base.html' %}
{% import 'macros/_render_field.html' as wtf %}

{% block title %} Preview {% endblock %}

{% block content %}
<section id="formsection">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">


          <img src="{{registrant.registration_value.filled_form_string}}"/>


          <form name="step_7" id="step_7" method="POST"  action="{{url_for('main.vr7_affirmation')}}">
            {{form.hidden_tag()}}

            <div class="text-right mt-4">
                <button class="btn btn-outline-default" type="submit"><i class="fa fa-spinner fa-spin loading mr-2"></i><i class="fa checkmark fa-check mr-2"></i> Sign </button>
            </div>

          </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block js_footer %}
<script>
$(function () {
  //initialize form with parsley validation
  var form = $('#step_7');
  form.parsley()
});

</script>
{% endblock %}
