{% extends 'base-form.html' %}
{% set current_step = '1' %}
{% set previous_step_url = url_for('main.index') %}

{% block title %}Citizenship{% endblock %}

{% block form_content %}
<form id="step_1" name="step_1" method="POST" action="{{url_for('main.vr1_citizenship')}}">
 <fieldset>
  <legend>{{_('1_legend')}}</legend>

  {{form.hidden_tag()}}

  {{wtf.render_field(
    form.is_citizen,
    _('1_citizen_help'),
    {
      'required':'required',
      'data-parsley-error-message': _('Required'),
    }
    )}}

    {{wtf.render_field(
      form.is_eighteen,
      _('1_18_help'),

      )}}

  {% include 'form-buttons.html' %}

 </fieldset>
</form>
{% endblock %}

{% block js_footer %}
<script>
$(function () {
  //initialize form with parsley validation
  var form = $('#step_1');
  form.parsley();
});
</script>
{% endblock %}
