{% extends 'base-form.html' %}
{% set current_step = '5' %}
{% set previous_step_url = url_for('main.vr4_party') %}

{% block title %}Identification{% endblock %}

{% block form_content %}
<form name="step_5" id="step_5" method="POST" action="{{url_for('main.vr5_identification')}}">
 <fieldset>
  <legend>{{_('5_legend')}}</legend>

  {{form.hidden_tag()}}

  <div class="mb-4"> {{_('5VR_id_shorthelp')}} </div>

  {{wtf.render_field(
      form.identification,
      _('5VR_id_shorthelp'),
      {
        'required':'required',
        'data-parsley-error-message': _('Required'),
        'autocomplete':'off',
        'data-parsley-trigger':'focusout'
      }
      )}}

  <div class="small"> {{_('5VR_id_help')}} </div>

  {% include 'form-buttons.html' %}

 </fieldset>
</form>
{% endblock %}

{% block js_footer %}
<script>
$(function () {
  //initialize form with parsley validation
  var form = $('#step_5');
  form.parsley()
});
</script>
{% endblock %}
