{% extends 'base.html' %}
{% set current_step = '2' %}
{% import 'macros/_render_field.html' as wtf %}

{% block title %} Name {% endblock %}

{% block content %}
<section id="formsection">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form name="step_2" id="step_2" method="POST" action="{{url_for('main.vr2_name')}}" novalidate>
          {{form.hidden_tag()}}

          {{wtf.render_field(
            form.prefix,
            None,
            None,
            )}}

          {{wtf.render_field(
              form.name_first,
              _('2_name_help'),
              {
                'required':'required',
                'data-parsley-error-message': _('Required'),
                'autocomplete':'off',
                'data-parsley-trigger':'focusout'
              }
              )}}

          {{wtf.render_field(
              form.name_middle,
              _('2_name_help'),
              None
              )}}

          {{wtf.render_field(
              form.name_last,
              _('2_name_help'),
              {
                'required':'required',
                'data-parsley-error-message': _('Required'),
                'autocomplete':'off',
                'data-parsley-trigger':'focusout'
              }
              )}}

          {{wtf.render_field(
            form.suffix,
            None,
            None,
            )}}

          {{wtf.render_field(
            form.has_prev_name,
            _('2_has_prev_name'),
            )}}

          <div class="previous-name-fields">
            {{wtf.render_field(
              form.prev_prefix,
              None,
              None,
              )}}

            {{wtf.render_field(
                form.prev_name_first,
                None,
                {
                  'data-parsley-error-message': _('Required'),
                  'autocomplete':'off',
                  'data-parsley-trigger':'focusout'
                }
                )}}

            {{wtf.render_field(
                form.prev_name_middle,
                None,
                None
                )}}

            {{wtf.render_field(
                form.prev_name_last,
                None,
                {
                  'data-parsley-error-message': _('Required'),
                  'autocomplete':'off',
                  'data-parsley-trigger':'focusout'
                }
                )}}

            {{wtf.render_field(
              form.prev_suffix,
              None,
              None,
              )}}


          </div><!--previous-name-fields-->

          <div class="text-right mt-4">
              <button class="btn btn-outline-default" type="submit"><i class="fa fa-spinner fa-spin loading mr-2"></i><i class="fa checkmark fa-check mr-2"></i> Next </button>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block js_footer %}
<script>
$(function () {
  //initialize form with parsley validation
  var form = $('#step_2');
  $('input[name=has_prev_name]').change(
      function(){
          if (this.checked) {
              $('.previous-name-fields').show();
              $('#prev_name_first').attr("required", true);
              $('#prev_name_last').attr("required", true);
          } else {
              $('.previous-name-fields').hide();
              $('#prev_name_first').removeAttr("required").val('').blur();
              $('#prev_name_last').removeAttr("required").val('').blur();
          }
      });

  form.parsley()

});

</script>
{% endblock %}
