{% extends 'base.html' %}
{% set current_step = '6' %}
{% import 'macros/_render_field.html' as wtf %}

{% block title %} Preview {% endblock %}

{% block content %}
<section id="formsection">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h3 class="h3-responsive">{{_('6_header')}}</h3>
        <h5 class="h5-responsive">{{_('6_header2')}}</h5>

          <img src="{{preview_img}}"/>

          <form name="step_6" id="step_6" method="POST"  action="{{url_for('main.vr6_preview_sign')}}">
            {{form.hidden_tag()}}
            <label> {{_('6_sign')}}            <i class="fa fa-info-circle postfix" data-toggle="tooltip" data-placement="left" title="{{_('6_sign_help')}}"></i></label>

            <div id="signature"></div>
              <ul class="parsley-errors-list filled">
                {% for error in form.signature_string.errors %}
                  <li> {{ error }} </li>
                {% endfor %}
              </ul>
            <div class="text-right mt-4">
                <button class="btn btn-outline-info" onclick="return resetHiddenSignatureImg()">Clear</button>
                <button id="sign-button" class="btn btn-outline-default" type="submit"><i class="fa fa-spinner fa-spin loading mr-2"></i><i class="fa checkmark fa-check mr-2"></i> Sign </button>
            </div>

          </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block js_footer %}
<script src="{{url_for('static', filename='js/jSignature.min.js')}}"></script>
<script>
    $(document).ready(function() {
        $("#signature").jSignature({
          'height': 56,
          'width': 396,
          'background-color': '#ffffff',
          'decor-color': 'transparent',
        });
        // pre-fill if defined
        $sig_string = $('#signature_string');
        if ($sig_string.val().length > 0) {
          $('#signature').jSignature('setData', $sig_string.val());
        }
        // "normal" required field validation doesn't work because signature_string is hidden
        $('#sign-button').click(function(ev) {
          $('.parsley-errors-list').empty();
          if ($('#signature_string').val().length == 0) {
            ev.preventDefault();
            $('.parsley-errors-list').append($('<li>Signature required</li>'));
          }
        });
    })
    $("#signature").bind('change', function(e){
      if( $('#signature').jSignature('getData', 'native').length == 0) {
         return;
      } else {
        $('#signature_string').val($('#signature').jSignature('getData'));
      }
    });
    var resetHiddenSignatureImg = function() {
      $('#signature').jSignature('reset');
      $('#signature_string').val('');
      return false; // abort onclick handler
    };
</script>
<script>
$(function () {
  //initialize form with parsley validation
  var form = $('#step_6');
  form.parsley()
});

</script>
{% endblock %}
