{% extends 'base.html' %}
{% import 'macros/_render_field.html' as wtf %}

{% block title %} Preview {% endblock %}

{% block content %}
<section id="formsection">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
          <img src="{{registrant.registration_value.filled_form_string}}"/>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block js_footer %}
<script>
$(function () {
  //initialize form with parsley validation
  var form = $('#step_4');
  form.parsley()
});

</script>
{% endblock %}
