{% extends 'base.html' %}
{% set current_step = '6' %}
{% set previous_step_url = url_for('main.vr5_identification') %}

{% block title %}Preview{% endblock %}

{% block content %}
<section id="formsection">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 mb-2">
       <div class="my-3 card">
        <div class="card-body">
         <p>{{_('6_header')}}</p>
         <p class='mb-0'>{{_('6_header2')}}</p>
        </div>
       </div>
      </div>
      <div class="col-md-12">
       <div class="card">
        <div class="card-body">
         <img src="{{preview_img}}"/>
        </div>
       </div>
      </div>
      <div class="mt-4 col-md-12">
        <div class='card'>
          <div class='card-body'>
            <form name="step_6" id="step_6" class='position-relative' method="POST" action="{{url_for('main.vr6_preview_sign')}}">
             <fieldset>
              <legend>{{_('6_legend')}}</legend>

              {{form.hidden_tag()}}
              <label> {{_('6_sign')}}            <i class="fa fa-info-circle postfix" data-toggle="tooltip" data-placement="left" title="{{_('6_sign_help')}}"></i></label>

              <div id="signature"></div>
                <ul class="parsley-errors-list filled">
                  {% for error in form.signature_string.errors %}
                    <li> {{ error }} </li>
                  {% endfor %}
                </ul>
              <div class="clear-button mt-4">
               <button class="btn btn-primary" onclick="return resetHiddenSignatureImg()">{{_('btn_clear')}}</button>
              </div>
              <div class="mt-5">
                <div class="float-left">
                  <a id="btn-back" class="btn btn-outline-primary">
                    <i class="fa fa-angle-left mr-2"></i> {{_('btn_back')}}
                   </a>
                </div>
                <div class="float-right">
                    <button id="sign-button" class="btn btn-outline-default" type="submit">
                     <i class="fa checkmark fa-check mr-2"></i>{{_('btn_sign')}}
                    </button>
                </div>
              </div>
             </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block js_footer %}
<script src="{{url_for('static', filename='js/jSignature.min.js')}}"></script>
<script>
    $(document).ready(function() {
        $("#signature").jSignature({
          'background-color': '#ffffff',
          'decor-color': 'transparent',
        });
        // pre-fill if defined
        $sig_string = $('#signature_string');
        if ($sig_string.val().length > 0) {
          $('#signature').jSignature('setData', $sig_string.val());
        }
        // "normal" required field validation doesn't work because signature_string is hidden
        $('#sign-button').click(function(ev) {
          $('.parsley-errors-list').empty();
          if ($('#signature_string').val().length == 0) {
            ev.preventDefault();
            $('.parsley-errors-list').append($('<li>Signature required</li>'));
          }
        });
    })
    $("#signature").bind('change', function(e){
      if( $('#signature').jSignature('getData', 'native').length == 0) {
         return;
      } else {
        $('#signature_string').val($('#signature').jSignature('getData'));
      }
    });
    var resetHiddenSignatureImg = function() {
      $('#signature').jSignature('reset');
      $('#signature_string').val('');
      return false; // abort onclick handler
    };
</script>
<script>
$(function () {
  //initialize form with parsley validation
  var form = $('#step_6');
  form.parsley()
});

</script>
{% endblock %}
