<div class="modal fade" id="ksv-confirm-modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header alert alert-info">
        <h5 class="modal-title" id="">{{modal_title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{modal_body}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-blue-grey" data-dismiss="modal">
          <i class="fa fa-times mr-2"></i>
          {{_('btn_close')}}
        </button>
        <button type="button" class="btn btn-outline-default submit">
          <i class="fa checkmark fa-check mr-2"></i>
          {{_('btn_submit')}}
        </button>
      </div>
    </div>
  </div>
</div>
