<div class="col-md-8">
  <div class="mt-4 card">
    <div class="card-body">
      <p>{{_('7_clerk_send_to')}}</p>

      {% if clerk %}
      {% include 'clerk-details.html' %}
      {% else %}
      <div id="county-error" class="alert alert-warning alert-error">
        <i class="fa fa-exclamation-triangle amber-text"></i>
        {{_('county_is_required')}}
      </div>
      {% endif %}

      {% with this_url=redirect_url %}
      {% include 'change-county.html' %}
      {% endwith %}
    </div>
  </div>
</div>
