<section id="hero">
 <div class="jumbotron mb-4 p-sm-4">
  <div class="container text-center">
   <div class="row">
    <div class="col-md-12">
     <div class="splash">
      <h1 class="h1-responsive mt-sm-3 bold">{{_('0_title')}}</h1>
      <p class="lead">{{_('0_lead')}}</p>
      <hr class="my-3 w-50 border-thick">
      <p class="measure mx-auto hero-actions">
        <a class="check btn btn-outline-default d-block my-3" href="#step_0" aria-label="Start">
         <i class="fa fa-check mr-2"></i>{{_('home_check_registration')}}
        </a>
        <a class="register btn btn-default d-block my-3" href="#step_0" aria-label="Start">
         <i class="fa fa-edit mr-2"></i>{{_('home_register_or_change_registration')}}
        </a>
        <a class="apply btn btn-primary d-block my-3" href="#step_0" aria-label="Start">
         <i class="fa fa-map-o mr-2"></i>{{_('home_apply_ab')}}
        </a>
      </p>
    </div>
   </div>
  </div>
 </div>
</section>
