<div class="alert alert-warning">
 <i class="fa fa-exclamation-triangle amber-text"></i>
  This website does not work on Internet Explorer.
  In order to register to vote online, please use another browser.
  You can download <a href="https://www.google.com/chrome/">Google Chrome</a>
  or <a href="https://www.mozilla.org/en-US/firefox/">Mozilla Firefox</a> for free.
  Or, if you have your driver's license handy, 
  you can <a href="https://www.kdor.ks.gov/apps/voterreg/default.aspx">register to vote online here</a>.
</div>
