{% extends 'base.html' %}
{% block title %}About KSVotes.org{% endblock %}

{% block content %}
<div id="about-us" class="container py-4 col-md-7">
 <h1>About KSVotes.org</h1>
 <p>
  KSVotes.org was built in partnership with Loud Light and GPS Impact.
 </p>
 <p>
  The source code for this site is <a href="https://github.com/BlueprintKansas/ksvotes.org">public and open source</a>.
 </p>
 <p>
  If you are interested in partnering with KSVotes and integrating voter registration on your website,
  see <a href="https://github.com/BlueprintKansas/ksvotes.org/wiki/The-ref-feature">our ref feature documentation</a>.
 </p>
</div>
{% endblock %}
