<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"> -->

    <title>{% block title %} {% endblock %} | KSVotes.org </title>

    {% block facebook %}
          <meta property="og:url" content="{{url_for('main.index', _external=True)}}"/>
          <meta property="og:site_name" content="KSVotes.org" />
          <meta property="og:title" content="" />
          <meta property="og:description" content="" />
          <meta property="og:type" content="website" />
          <meta property="og:image" content="" />
    {% endblock %}

    {% block twitter %}
          <meta name="twitter:card" content="summary_large_image" />
          <meta name="twitter:site" content="{{url_for('main.index', _external=True)}}" />
          <meta name="twitter:creator" content="">
          <meta name="twitter:title" content="" />
          <meta name="twitter:image" content="" />
          <meta name="twitter:description" content="" />
    {% endblock %}

    <!-- {% include 'helpers/favicons.html' %} -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:300,400,500,700|Material+Icons" rel="stylesheet">
    <link href="{{url_for('static', filename='css/compiled.css')}}" rel="stylesheet">




  </head>
  <body>
    <main>
      {% if config['ENV'] == 'development' %}
      <!-- nav won't be in production -->
      <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
        <a class="navbar-brand" href="#">Quicklinks</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="{{url_for('main.index')}}"> Home </a></li>
            <li class="nav-item"><a class="nav-link" href="{{url_for('main.vr1_citizenship')}}"> Citizenship </a></li>
            <li class="nav-item"><a class="nav-link" href="{{url_for('main.vr2_name')}}"> Name </a></li>
            <li class="nav-item"><a class="nav-link" href="{{url_for('main.vr3_address')}}"> Address </a></li>
            <li class="nav-item"><a class="nav-link" href="{{url_for('main.vr4_party')}}"> Party </a></li>
            <li class="nav-item"><a class="nav-link" href="{{url_for('main.vr5_identification')}}"> Identification </a></li>

          </ul>

        </div>
      </nav>
      {% endif %}

      {% block content %}


      {% endblock %}
    </main>

    {% block footer %}

    {% endblock %}


    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.3/js/mdb.min.js"></script>
    <!-- Parsley -->
    <script type="text/javascript" src="{{url_for('static', filename='js/parsley.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/moment.min.js')}}"></script>

    <script src="{{url_for('static', filename='js/main.js')}}"></script>

    {% block js_footer %}

    {% endblock %}
  </body>
</html>
