<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"> -->

    <title>{% block title %} {% endblock %} | KSVotes.org </title>

    {% if config['ENV'] == 'production' %}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ config['GA_KEY'] }}');</script>
    <!-- End Google Tag Manager -->
    {% endif %}

    {% block facebook %}
          <meta property="og:url" content="{{url_for('main.index', _external=True)}}"/>
          <meta property="og:site_name" content="KSVotes.org" />
          <meta property="og:title" content="" />
          <meta property="og:description" content="" />
          <meta property="og:type" content="website" />
          <meta property="og:image" content="" />
    {% endblock %}

    {% block twitter %}
          <meta name="twitter:card" content="summary_large_image" />
          <meta name="twitter:site" content="{{url_for('main.index', _external=True)}}" />
          <meta name="twitter:creator" content="">
          <meta name="twitter:title" content="" />
          <meta name="twitter:image" content="" />
          <meta name="twitter:description" content="" />
    {% endblock %}

    {% include 'helpers/favicons.html' %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:300,400,500,700|Material+Icons" rel="stylesheet">
    <link href="{{url_for('static', filename='css/compiled.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/p-loading.min.css')}}" rel="stylesheet">




  </head>
  <body>
    {% if config['ENV'] == 'production' %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ config['GA_KEY'] }}"
     height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% endif %}

    <div id="mask"></div>
    {% if registrant %}
    {% include 'session-timeout-modal.html' %}
    {% endif %}

    <main>
     {% block header %}
     {% if use_hero %}
     {% else %}
     <header>
      <nav class="navbar navbar-expand-lg navbar-dark font-small ksv-green">
        <a class="navbar-brand" href="{{url_for('main.index')}}">
         <img class="logo" src="{{url_for('static', filename='img/KSVotes_Logo_Primary_White.png')}}" alt="Home" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            {% if current_step %}
            <li class="nav-item"><a class="nav-link" href="{{url_for('main.index')}}">Register to Vote</a></li>
            <li class="nav-item"><a class="nav-link" href="{{url_for('main.ab1_election_picker')}}">Advance Ballot</a></li>
            {% endif %}
            {% if g.locale == 'es' %}
            <li class="nav-item"><a class="nav-link" href="{{url_for('main.index', lang_code='en')}}">English</a></li>
            {% endif %}

          </ul>

        </div>
      </nav>
     </header>
     {% endif %}
     {% endblock %}

     {% if current_step %}
     <div id="step-nav">
       Step {{current_step}} of 8
     </div>
     {% endif %}

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="container-fluid text-center col-md-6 flashes">
        {% for category, message in messages %}
         <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
        {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

     {% block content %}
      {% if use_hero %}
        {{ super() }}
      {% else %}
        <div id="main-content">{{ super() }}</div>
      {% endif %}
     {% endblock %}

    </main>

    {% block footer %}
    <footer class="page-footer accent-4 font-small pt-4 ksv-green">
     <div class="container-fluid text-center">
      <div class="row">
       <div class="col-md-12 mt-md-0 mt-3">
         <img class="logo" src="{{url_for('static', filename='img/KSVotes_Logo_Primary_White.png')}}" alt="Home" />
       </div>
       <hr class="clearfix w-100 d-md-none pb-3">
       <div class="col-md-12 mb-md-0 mb-3">
        <ul class="list-unstyled list-inline">
         <li class="list-inline-item"><a href="/terms-of-service">{{_('0_footer_tos')}}</a> &nbsp;&nbsp;|</li>
         <li class="list-inline-item"><a href="/privacy-policy">{{_('0_footer_priv')}}</a> &nbsp;&nbsp;|</li>
         <li class="list-inline-item"><a href="https://blueprintkansas.org/contact/">{{_('0_footer_contact')}}</a></li>
        </ul>
       </div>
       <div class="col-md-12 mb-md-0 mb-3">
         {{_('0_footer_partners')}}
       </div>
      </div><!-- row -->
     </div><!-- container -->
     <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://blueprintkansas.org/">Blueprint Kansas</a>
     </div>
    </footer>
    {% endblock %}


    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{{url_for('static', filename='js/mdb-4.5.5.js')}}"></script>
    <!-- Parsley -->
    <script type="text/javascript" src="{{url_for('static', filename='js/parsley.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/moment.min.js')}}"></script>

    <script type="text/javascript" src="{{url_for('static', filename='js/p-loading.min.js')}}"></script>

    <script src="{{url_for('static', filename='js/main.js')}}"></script>

    <script type="text/javascript">
      var showMask = function() {
        var $mask = $('#mask');
        $mask.show();
        $mask.ploading({ action: 'show' });
      };
      $(document).ready(function() {
        $('form').submit(function(ev) {
          var $form = $(this);
          $form.parsley().validate();
          if ($form.parsley().isValid()) {
            showMask();
          } else {
            ev.preventDefault();
          }
        });
      });
      {% if previous_step_url is defined %}
      $('#btn-back').attr('href', '{{previous_step_url}}');
      $('#btn-back').click(function(ev) {
        showMask();
      });
      {% endif %}
    </script>

    <script>
    // hide flash messages after 3 secs
      $(function() {
        window.setTimeout(function() {
          $(".flashes").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove();
          });
        }, 3000);
      });
    </script>
    <script>
      $('#modal-session-expired').on('hidden.bs.modal', function() {
        console.log('you may not simply dismiss the modal');
        window.location = '{{url_for('main.index')}}';
      });
      window.setTimeout(function() {
        $('#modal-session-expired').modal('show');
        //console.log('session ttl check fired');
      }, 60000 * {{config['SESSION_TTL']}}); // TTL is minutes
      // this does not actually expire the session, just improves UX.
      // the browser cookie will expire and so will the server-side session.
    </script>
    {% block js_footer %}

    {% endblock %}
  </body>
</html>
