<div id="change-county">
  <div class="mt-2">
    <a id="change-county-btn" class="btn btn-outline-primary" href="#change-county-picker">
      <i class="fa fa-edit mr-2"></i>{{_('btn_change_county')}}
    </a>
  </div>
  <div id="change-county-picker" class="mt-2" style="display:none">
    <form name="change-county-form" id="change-county-form" method="POST"  action="{{url_for('main.change_county')}}">
     <fieldset>
      <input type="hidden" name="return" value="{{url_for(this_url)}}" />
      {{form.hidden_tag()}}
      {{wtf.render_field( form.county, _('0_county_help'), {} )}}
      
      <div class="float-right mt-2">
        <button id="btn-apply" class="btn btn-outline-default" type="submit">
          <i class="fa checkmark fa-check mr-2"></i>{{_('btn_apply')}}
        </button>
      </div>
     </fieldset>
    </form>
  </div>
</div>
