{% extends 'base.html' %}
{% block title %}{{_('1AB_whats_next')}}{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
        {% if sos_reg: %}
          <h3>{{_('1AB_reg_found_title')}}</h3>
          {% include 'voter-view-details.html' %}
          <hr class='my-4 border-thick border-light-gray' />
          <h4 class="mb-3">{{_('1AB_whats_next')}}</h4>
          {% include 'reg-choices.html' %}
          <div class="clearfix"></div>
          {% include 'forget-session-button.html' %}
        {% elif skip_sos: %}
          <h4 class='mb-4'>{{_('1AB_whats_next')}}</h4>
          {% include 'reg-choices.html' %}
        {% else %}
          <h3>{{_('1AB_sorry_no_reg_title')}}</h3>
          <div>
            <a class="btn btn-outline-default d-block my-3" href="{{url_for('main.vr1_citizenship')}}">
              {{_('1AB_sorry_no_reg_link')}}
            </a>
          </div>
          <div>
            {{_('1AB_sorry_no_reg_help')}}
          </div>

          {% if clerk %}
            <div class="clerk-details mt-4">{% include 'clerk-details.html' %}</div>
          {% endif %}

        {% endif %}
        </div>
      </div>
    </div>   
  </div>
</div>
{% endblock %}
