{% extends 'base.html' %}
{% block title %} Home {% endblock %}

{% block content %}
<section id="hero">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
          <h1 class="h1-responsive"> Hello World </h1>
          <p> {{_('Test String')}} </p>

  <form name="step_0" id="step_0" method="POST">
    <div class="md-form">
        <input
          type="text"
          id="name_first"
          class="form-control"
          autocomplete="off"
          required
          data-parsley-error-message="{{_('Required')}}"
          data-parsley-trigger="focusout"
        >
        <label for="name_first">{{_('0_first')}}*</label>
        <i class="fa fa-info-circle postfix default-tooltip" data-toggle="tooltip" data-placement="left" title="{{_('0_name_help')}}"></i>

        <small id="ht_name_first" class="form-text"></small>
    </div>

    <div class="md-form">
      <input
        type="text"
        id="name_last"
        class="form-control"
        autocomplete="off"
        required
        data-parsley-error-message="{{_('Required')}}"
        data-parsley-trigger="focusout"
      >
      <label for="name_first">{{_('0_last')}}*</label>
      <i class="fa fa-info-circle postfix" data-toggle="tooltip" data-placement="left" title="{{_('0_name_help')}}"></i>

      <small id="ht_name_last" class="form-text"></small>
    </div>

    <div class="md-form">

        <input
          type="text"
          id="dob"
          class="form-control"
          autocomplete="off"
          required
          data-parsley-pattern="/^\d{2}\/\d{2}\/\d{4}$/"
          data-parsley-required-message="{{_('Required')}}"
          data-parsley-pattern-message="{{_('0_dob_flag')}}"
          data-parsley-trigger="focusout"
        >
        <label for="dob">{{_('0_dob')}}*</label>
        <i class="fa fa-info-circle postfix" data-toggle="tooltip" data-placement="left" title="{{_('0_dob_help')}}"></i>

        <small id="ht_dob" class="form-text"></small>

    </div>


      <div class="form-group md-form">
          <label for="county" class="sr-only">County*</label>
          <select
            class="form-control"
            id="county"
            required
            data-parsley-required-message="{{_('Required')}}"
            data-parsley-trigger="focusout"
          >
            <option disabled value="" selected> Select Your County* </option>
            {% for county in counties %}
              <option value="{% filter upper %}{{county}}{% endfilter %}"> {{county}} </option>
            {% endfor %}
          </select>
          <i class="fa fa-info-circle postfix" data-toggle="tooltip" data-placement="left" title="{{_('0_county_help')}}"></i>
          <small id="ht_county" class="form-text"></small>


      </div>


    <div class="md-form">
        <input
          type="email"
          id="email"
          class="form-control"
          autocomplete="off"
          required
          data-parsley-required-message="{{_('Required')}}"
          data-parsley-type="email"
          data-parsley-type-message="{{_('0_email_flag')}}"
          data-parsley-trigger="focusout"
        >
        <label for="email">{{_('0_email')}}*</label>
        <i class="fa fa-info-circle postfix" data-toggle="tooltip" data-placement="left" title="{{_('0_email_help')}}"></i>

        <small id="ht_email" class="form-text"></small>
    </div>

    <div class="md-form">
        <input
          type="text"
          id="phone"
          class="form-control"
          autocomplete="off"
          data-parsley-trigger="focusout"
          data-parsley-pattern="/^\d{3}\-\d{3}\-\d{4}$/"
          data-parsley-pattern-message="{{_('0_phone_flag')}}"
        >
        <label for="phone">Phone Number</label>
        <i class="fa fa-info-circle postfix" data-toggle="tooltip" data-placement="left" title="{{_('0_phone_help')}}"></i>
        <small id="ht_phone" class="form-text"></small>

    </div>


      <div class="text-right mt-4">
          <button class="btn btn-outline-default" type="submit">Next </button>
      </div>
  </form>
  <!-- Material form login -->

      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block js_footer %}
<script>
$(function () {
  var form = $('#step_0');
  form.parsley()
  form.submit(function( event ){
    console.log('submitted');
    event.preventDefault();
  })
});

</script>
{% endblock %}
