{% extends 'base-form.html' %}
{% set use_hero = true %}
{% block title %}Home{% endblock %}

{% block form_content %}

{% if browser_ua == 'msie' %}
{% include '_ie_warning.html' %}
{% endif %}

<form name="step_0" id="step_0" method="POST" action="{{url_for('main.index')}}">
 <fieldset>
  <legend>{{_('0_form_explain')}}</legend>

  {{form.hidden_tag()}}

  {{wtf.render_field(
    form.name_first,
    _('0_name_help'),
    {
      'required':'required',
      'data-parsley-error-message': _('Required'),
      'autocomplete':'off',
      'data-parsley-trigger':'focusout'
    }
    )}}

  {{wtf.render_field(
    form.name_last,
    _('0_name_help'),
    {
      'required':'required',
      'data-parsley-error-message': _('Required'),
      'autocomplete':'off',
      'data-parsley-trigger':'focusout'
    }
    )}}

    {{wtf.render_field(
      form.dob,
      _('0_dob_help'),
      {
        'required':'required',
        'data-parsley-required-message': _('Required'),
        'autocomplete':'off',
        'data-parsley-trigger':'focusout',
        'data-parsley-pattern-message': _('0_dob_flag'),
        'data-parsley-pattern': "/^\d{2}[\/-]?\d{2}[\/\-]?\d{4}$/",
        'data-parsley-dob-limit':"true",
        'data-parsley-dob-limit-message': _('0_dob_flag'),
        'placeholder':'mm/dd/yyyy',
      }
      )}}

    {{wtf.render_field(
      form.county,
      _('0_county_help'),
      {
      }
      )}}

    {{wtf.render_field(
      form.email,
      _('0_email_help'),
      {
        'required': 'required',
        'data-parsley-required-message': _('Required'),
        'data-parsley-trigger': 'focusout',
        'data-parsley-type': 'email',
        'data-parsley-type-message': _('0_email_flag'),
      }
      )}}

    {{wtf.render_field(
      form.phone,
      _('0_phone_help'),
      {
        'data-parsley-trigger': 'focusout',
        'data-parsley-pattern': '/^\d{3}[\-\.]?\d{3}[\-\.]?\d{4}$/',
        'data-parsley-pattern-message': _('0_phone_flag'),
        'data-parsley-phone-limit':"true",
        'data-parsley-phone-limit-message': _('0_dob_flag'),
        'placeholder': 'xxx-xxx-xxxx',
      }
      )}}

    {% if form.recaptcha %}
    {{wtf.render_field(
      form.recaptcha
      )}}
    {% endif %}

    <input type="hidden" name="skip-sos" id="skip-sos" value="" />
    <div class="mt-4">
      <button id="btn-next" class="btn btn-outline-default" type="submit">
        <i class="fa checkmark fa-check mr-2"></i>{{_('btn_check')}}
      </button>
      <a href="#" id="skip-sos-link" class="d-block mt-3 fs-14" onclick="return false">
        {{_('skip_sos_check')}}
      </a>
    </div>
 </fieldset>
</form>
{% endblock %}

{% block js_footer %}
<script>
$(function () {
  //initialize form with parsley validation
  var form = $('#step_0');
  window.Parsley.addValidator('dobLimit', {
    requirementType: 'string',
    validateString: function(value) {
      var mdy = value.match(/^(\d{2})[\/-]?(\d{2})[\/\-]?(\d{4})$/);
      mdy.shift();
      var dob = mdy.join('/');
      //console.log(mdy, dob);
      var compare = Math.floor(moment(new Date()).diff(moment(dob,"MM/DD/YYYY"),'years',true));
      if (compare <= 15) {
        return false;
      }
      $('#dob').val(dob); // normalize input
      return true;
    }
  });
  window.Parsley.addValidator('phoneLimit', {
    requirementType: 'string',
    validateString: function(value) {
      var phone_parts = value.match(/^(\d{3})[\.\-]?(\d{3})[\.\-]?(\d{4})$/);
      phone_parts.shift();
      $('#phone').val(phone_parts.join('-')); // normalize
      return true; // no actual check, just normalize
    }
  });
  form.parsley();

  // smooth scroll effect
  $('#arrow-down').click(function() {
    let tag = $(this);
    let scrollTarget = tag.attr('href');
    $([document.documentElement, document.body]).animate({
      scrollTop: $(scrollTarget).offset().top
    }, 1000);
  });

  $('#skip-sos-link').click(function() {
    $('#skip-sos').val('true');
    $('#btn-next').trigger('click');
  });
});
</script>
{% endblock %}
