{% extends 'base.html' %}
{% block title %} Privacy Policy {% endblock %}

{% block content %}
<div id="privacy-policy" class="container py-4 col-md-7">
  <div class='card'>
    <div class='card-body'>
      <h1 class="mb-3 h4">PRIVACY POLICY</h1>
      <aside class="c123 c131 c140">ONLINE PRIVACY POLICY
      AGREEMENT</aside>
      <p class="c123 c132 c140">Blueprint Kansas, Inc., (Blueprint
      Kansas), is committed to keeping any and all personal information
      collected of those individuals that visit our website and make use
      of our online facilities and services accurate, confidential,
      secure and private. Our privacy policy has been designed and
      created to ensure those affiliated with Blueprint Kansas, Inc. of
      our commitment and realization of our obligation not only to meet
      but to exceed most existing privacy standards.</p>
      <p class="c123 c132 c140">THEREFORE, this Privacy Policy Agreement
      shall apply to Blueprint Kansas, Inc. , and thus it shall govern
      any and all data collection and usage thereof. Through the use of
      KSVotes.org you are herein consenting to the following data
      procedures expressed within this agreement.</p>
      <aside class="c123 c131 c140">Collection of Information</aside>
      <p class="c123 c132 c140">This website collects various types of
      information, such as:<br>
      * Voluntarily provided information which may include your name,
      address, email address, billing and/or credit card information
      etc., which may be used when you purchase products and/or services
      and to deliver the services you have requested.<br>
      * Information automatically collected when visiting our website,
      which may include cookies, third party tracking technologies and
      server logs.</p>
      <p class="c123 c132 c140">Please rest assured that this site shall
      only collect personal information that you knowingly and willingly
      provide by way of surveys, completed membership forms, and emails.
      It is the intent of this site to use personal information only for
      the purpose for which it was requested and any additional uses
      specifically provided on this site.</p>
      <p class="c123 c132 c140">Blueprint Kansas, Inc. may have the
      occasion to collect anonymous demographic information, such as age,
      gender, household income, political affiliation, race and religion
      at a later time.We may also gather information about the type of
      browser you are using, IP address or type of operating system to
      assist us in providing and maintaining superior quality
      service.</p>
      <p class="c123 c132 c140">It is highly recommended and suggested
      that you review the privacy policies and statements of any website
      you choose to use or frequent as a means to better understand the
      way in which other websites garner, make use of and share
      information collected.</p>
      <aside class="c123 c131 c140">Use of Information Collected</aside>
      <p class="c123 c132 c140">Blueprint Kansas, Inc. may collect and
      may make use of personal information to assist in the operation of
      our website and to ensure delivery of the services you need and
      request. Blueprint Kansas, Inc. and KSVotes.org will retain only
      your name, email, zip code, and birthdate; all other information
      will not be retained after the form is submitted.</p>
      <p class="c123 c132 c140">Blueprint Kansas, Inc. does not now, nor
      will it in the future, sell, rent or lease any of our customer
      lists and/or names to any third parties.</p>
      <p class="c123 c132 c140">Blueprint Kansas, Inc. may disclose your
      personal information, without prior notice to you, only if required
      to do so in accordance with applicable laws and/or in a good faith
      belief that such action is deemed necessary or is required in an
      effort to:<br>
      * Remain in conformance with any decrees, laws and/or statutes or
      in an effort to comply with any process which may be served upon
      Blueprint Kansas, Inc. and/or our website;<br>
      * Maintain, safeguard and/or preserve all the rights and/or
      property of Blueprint Kansas, Inc.; and<br>
      * Perform under demanding conditions in an effort to safeguard the
      personal safety of users of KSVotes.org and/or the general
      public.</p>
      <aside class="c123 c131 c140">Children Under Age of 13</aside>
      <p class="c123 c132 c140">Blueprint Kansas, Inc. does not knowingly
      collect personal identifiable information from children under the
      age of thirteen (13) without verifiable parental consent. If it is
      determined that such information has been inadvertently collected
      on anyone under the age of thirteen (13), we shall immediately take
      the necessary steps to ensure that such information is deleted from
      our system's database. Anyone under the age of thirteen (13) must
      seek and obtain parent or guardian permission to use this
      website.</p>
      <aside class="c123 c131 c140">Unsubscribe or Opt-Out</aside>
      <p class="c123 c132 c140">All users and/or visitors to our website
      have the option to discontinue receiving communication from us
      and/or reserve the right to discontinue receiving communications by
      way of email or newsletters. To discontinue or unsubscribe to our
      website please send an email that you wish to unsubscribe to
      contact@blueprintkansas.org. If you wish to unsubscribe or opt-out
      from any third party websites, you must go to that specific website
      to unsubscribe and/or opt-out.</p>
      <aside class="c123 c131 c140">Links to Other Web Sites</aside>
      <p class="c123 c132 c140">Our website does contain links to
      affiliate and other websites. Blueprint Kansas, Inc. does not claim
      nor accept responsibility for any privacy policies, practices
      and/or procedures of other such websites. Therefore, we encourage
      all users and visitors to be aware when they leave our website and
      to read the privacy statements of each and every website that
      collects personally identifiable information. The aforementioned
      Privacy Policy Agreement applies only and solely to the information
      collected by our website.</p>
      <aside class="c123 c131 c140">Security</aside>
      <p class="c123 c132 c140">Blueprint Kansas, Inc. shall endeavor and
      shall take every precaution to maintain adequate physical,
      procedural and technical security with respect to our offices and
      information storage facilities so as to prevent any loss, misuse,
      unauthorized access, disclosure or modification of the user's
      personal information under our control.</p>
      <p class="c123 c132 c140">The company also uses Secure Socket Layer
      (SSL) for authentication and private communications in an effort to
      build users' trust and confidence in the internet and website use
      by providing simple and secure access and communication of credit
      card and personal information.</p>
      <aside class="c123 c131 c140">Changes to Privacy Policy
      Agreement</aside>
      <p class="c123 c132 c140">Blueprint Kansas, Inc. reserves the right
      to update and/or change the terms of our privacy policy, and as
      such we will post those change to our website homepage at
      KSVotes.org, so that our users and/or visitors are always aware of
      the type of information we collect, how it will be used, and under
      what circumstances, if any, we may disclose such information. If at
      any point in time Blueprint Kansas, Inc. decides to make use of any
      personally identifiable information on file, in a manner vastly
      different from that which was stated when this information was
      initially collected, the user or users shall be promptly notified
      by email. Users at that time shall have the option as to whether or
      not to permit the use of their information in this separate
      manner.</p>
      <aside class="c123 c131 c140">Acceptance of Terms</aside>
      <p class="c123 c132 c140">Through the use of this website, you are
      hereby accepting the terms and conditions stipulated within the
      aforementioned Privacy Policy Agreement. If you are not in
      agreement with our terms and conditions, then you should refrain
      from further use of our sites. In addition, your continued use of
      our website following the posting of any updates or changes to our
      terms and conditions shall mean that you are in agreement and
      acceptance of such changes.</p>
      <aside class="c123 c131 c140">How to Contact Us</aside>
      <p class="c123 c132 c140">If you have any questions or concerns
      regarding the Privacy Policy Agreement related to our website,
      please feel free to contact us at the following email, telephone
      number or mailing address.<br>
      <br>
      Email: contact@blueprintkansas.org<br>
      <br>
      Telephone Number: 785-414-9678<br>
      <br>
      Mailing Address:<br>
      Blueprint Kansas, Inc.<br>
      PO Box 47413<br>
      Wichita, Kansas 67203</p>
    </div>
  </div>
</div>
{% endblock %}
