{% extends 'base.html' %}
{% block title %} Privacy Policy {% endblock %}

{% block content %}
<div id="privacy-policy" class="container py-4 col-md-7">

    <p class="DocumentTitle bold"><span>KSVotes.org Privacy Policy</span></p>
    <p class="MemoClauseTitle-Para"><a name="a598115" id="a598115">Introduction</a></p>
    <p class="MemoPara-Clause" >Blueprint
    Kansas, Inc., also known as KSVotes.org ("We"), respects your privacy and is committed to protecting it through compliance with
    this Policy.</p>
    <p class="MemoPara-Clause" >This
    Privacy Policy ("Policy") describes the types of information We may collect from you or that you
    may provide when you visit ksvotes.org ("Website") and the practices for collecting, using,
    maintaining, protecting, and disclosing that information.</p>
    <p class="MemoPara-Clause" >This Policy
    applies to information collected on this Website; in email, text, or other electronic messages
    between you and the Website; and when you interact with the Website's advertising and applications
    on third-party websites and services, if those applications or advertising include links to this
    Policy.</p>
    <p class="MemoPara-Clause" >This Policy
    does not apply to information We collect offline or through any other means, including on any other
    website We operate or any third party; or to information collected by any third party, including
    through any application or content (including advertising) that may link to or be accessible from
    or on the Website.</p>
    <p class="MemoPara-Clause" >Please read
    this Policy carefully to understand the policies and practices regarding your information and how
    we will treat it before you access or use the Website. If you do not agree with the Website's
    policies and practices, then you may not access the Website or use any services provided by the
    Website. By accessing or using this Website, you agree to this Policy. This Policy may change from
    time to time, and your continued use of this Website after changes are made is deemed to be
    acceptance of such changes. It is your responsibility to check this Policy from time to time so you
    are aware of any changes.</p>
    <p class="MemoClauseTitle-Para"><a name="a1019988" id="a1019988">Children Under the Age of
    13</a></p>
    <p class="MemoPara-Clause" >The Website
    is not intended for children under 13 years of age. No one under age 13 may provide any personal
    information to or on the Website. We do not knowingly collect personal information from children
    under 13. If you are under 13, do not use or provide any information on this Website or provide any
    information about yourself, including your name, address, telephone number, email address, or any
    screen name or user name you may use. If We learn We have collected or received personal
    information from a child under 13, we will delete that information. If you believe We might have
    any information from or about a child under 13, please contact us at</p>
    <p class="MemoPara-Clause" >
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Blueprint Kansas, Inc.</p>
    <p class="MemoPara-Clause" >
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Attn: KSVotes.org</p>
    <p class="MemoPara-Clause">
    {% include 'contact.html' %}
    </p>
    <p class="MemoClauseTitle-Para"><a name="a216371" id="a216371">Information</a> We Collect</p>
    <p class="MemoPara-Clause" >We collect
    several types of information from and about users of our Website, including information by which
    you may be personally identified, such as name, postal address, e-mail address, telephone number,
    and other identifier(s) by which you may be contacted online or offline, and information about your
    internet connection, the equipment you use to access our Website and usage details.</p>
    <p class="MemoPara-Clause" >We collect
    this information directly from you when you provide it on the Website and automatically as you
    navigate through the Website. Information collected automatically may include usage details, IP
    addresses, and information collected through cookies and other tracking technologies.</p>
    <p class="MemoParasubclause1" ><a name=
    "a782263" id="a782263"><span class="Title-Subclause1"><span>Information You Provide to
    Us</span></span>.&nbsp; The information we collect on or through the Website include</a>s
    information that you provide by filling in forms on the Website, including information provided for
    the Federal Voter Registration Form. Other information we collect on or through the Website may
    include (a) records and copies of correspondence, including email addresses, if you contact us, if
    We send you information regarding the status of your voter registration, and/or if We send you
    information for the purposes of voter awareness initiatives; (b) details of transactions you carry
    out through the Website; (c) records and details of the fulfillment, or non-fulfillment, of your
    voter registration; (d) information you provide if you report a problem with the Website; and (e)
    your search queries on the Website.</p>
    <p class="MemoParasubclause1" ><a name=
    "a683129" id="a683129"><span class="Title-Subclause1"><span>Information We Collect Through
    Cookies</span></span>.&nbsp; As you navigate through and interact with our Website, We may use
    automatic data collection technologies to collect certain information</a>, including (a) details of
    your visits to the Website, (b) your progress in completing the Federal Voter Registration Form,
    and (c) the status of your Federal Voter Registration Form, including whether it has been properly
    sent to and processed by your county election official.</p>
    <p class="MemoParasubclause1" >The
    technologies we use for this automatic data collection may include cookies (or browser cookies). A
    cookie is a small file placed on the hard drive of your computer. You may refuse to accept browser
    cookies by activating the appropriate setting on your browser. However, if you select this setting
    you may be unable to access certain parts of the Website. Unless you have adjusted your browser
    setting so that it will refuse cookies, the Website will issue cookies when you direct your browser
    to the Website.</p>
    <p class="MemoClauseTitle-Para"><a name="a183824" id="a183824">How We Use Your Information</a></p>
    <p class="MemoPara-Clause" >We use
    information that we collect about you or that you provide, including any personal information, to
    present the Website and its contents to you, to provide you with information or services that you
    request from the Website, to track your progress in completing the Federal Voter Registration Form,
    to track your registration status once you submit your Federal Voter Registration Form, and to
    fulfill any other purpose for which you provide it. When you provide information to us, we may use
    that information in any other way described at the time you provide that information.</p>
    <p class="MemoPara-Clause" >We may also
    use information that We collect about you or that you provide, including any personal information,
    to contact you for purposes, including voting awareness, voting registration information, and other
    voting-related purposes.</p>
    <p class="MemoClauseTitle-Para"><a name="a998196" id="a998196">Disclosure of Your
    Information</a></p>
    <p class="MemoPara-Clause" >We may
    disclose personal information that We collect or you provide as described in this Policy to third
    parties We use to support our business, including advertising, and who are bound by contractual
    obligations to keep personal information confidential and use it only for the purposes for which We
    disclose it to them and for any other purpose We disclose when you provide the information. We will
    not sell your information to any third party.</p>
    <p class="MemoPara-Clause" >We may also
    disclose your personal information (a) to comply with any court order, law, or legal process,
    including to respond to any government or regulatory request; (b) to enforce or apply Website's
    <a href="/terms">Terms of Use</a>; and (c) if We believe disclosure is necessary or appropriate to
    protect the rights, property, or safety of Blueprint Kansas, Inc., Website, or others.</p>
    <p class="MemoClauseTitle-Para"><a name="a539528" id="a539528">Data Security</a></p>
    <p class="MemoPara-Clause" >We have
    implemented measures designed to secure your personal information from accidental loss and from
    unauthorized access, use, alteration, and disclosure. Unfortunately, the transmission of
    information via the internet is not completely secure. Although we do our best to protect your
    personal information, We cannot guarantee the security of your personal information transmitted to
    the Website. Any transmission of personal information is at your own risk. We are not responsible
    for circumvention of any privacy settings or security measures contained on the Website.</p>
    <p class="MemoClauseTitle-Para"><a name="a286592" id="a286592">Changes to Our Privacy
    Policy</a></p>
    <p class="MemoPara-Clause" >It is our
    policy to post any changes we make to our Policy on this page. The date the Policy was last revised
    is identified at the bottom of the page. You are responsible for periodically visiting the Website
    and this Policy to check for any changes.</p>
    <p class="MemoClauseTitle-Para"><a name="a955470" id="a955470">Contact Information</a></p>
    <p class="MemoPara-Clause" >To ask
    questions or comment about this Privacy Policy and our privacy practices, contact us at:
    </p>
    {% include 'contact.html' %}
    <p class="MemoPara-Clause" >Last Modified: October 9, 2017</p>

</div>
{% endblock %}
