<div class="">
 <div class="{% if config['ENABLE_AB'] %} col-md-6 float-left {% endif %}">
  <a class="btn btn-outline-default d-block mb-3" href="{{url_for('main.vr1_citizenship')}}">
    {{_('1AB_change_reg_link')}}
  </a>
  <p class='fs-14 font-italic'>{{_('change_reg_help')}}</p>
 </div>
 {% if config['ENABLE_AB'] %}
 <div class="col-md-6 float-left">
  <a class="btn btn-outline-primary d-block mb-3" href="{{url_for('main.ab1_election_picker')}}">
    {{_('1AB_apply_ab_link')}}
  </a>
  <p class="fs-14 font-italic mb-0">{{_('apply_ab_help')}}</p>
 </div>
 {% endif %}
</div>
