<div class="">
 <div class="">
  <a class="btn btn-outline-default d-block mb-3" href="{{url_for('main.vr1_citizenship')}}">
    <i class="fa fa-check"></i>
    {{register_link or _('1AB_sorry_no_reg_link')}}
  </a>
  <p class='fs-14 font-italic'>{{_('change_reg_help')}}</p>
 </div>
 {% if config['ENABLE_AB'] %}
 <div class="">
  <a class="btn btn-outline-primary d-block mb-3" href="{{url_for('main.ab1_election_picker')}}">
    <i class="fa fa-edit"></i>
    {{_('1AB_apply_ab_link')}}
  </a>
  <p class="fs-14 font-italic mb-0">{{_('apply_ab_help')}}</p>
 </div>
 {% endif %}
</div>
