{% block session_timeout_modal %}
<div class="modal fade" id="modal-session-expired" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"><!--Content-->

      <!--Header-->
      <div class="modal-header text-center alert alert-info">
      </div>

      <!--Body-->
      <div class="modal-body text-center mb-1">

        <h5 class="mt-1 mb-2">{{_('your_session_has_expired')}}</h5>

        <div class="ml-0 mr-0">
          <p>{{_('session_expired_due_to_inactivity')}}</p>
          <div class="text-center mt-4">
             <a class="btn btn-outline-blue-grey mt-1" href="{{url_for('main.forget_session')}}">{{_('btn_start_session')}}</a>
          </div>
        </div>

      </div><!--/.Body-->
    </div><!--/.Content-->
  </div><!--modal-dialog-->
</div>
{% if config['DEBUG'] %}
<div class="text-center">
  <a href="#" data-toggle="modal" data-target="#modal-session-expired">Test Session</a>
</div>
{% endif %}
{% endblock %}
