{% extends 'base.html' %}
{% block title %}Stats{% endblock %}
{% block content %}
<div class="container" style="position: relative">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <canvas id="stats" aria-label="ksvotes stats" role="img" height="300vh"></canvas>
    </div>
  </div>
</div>
{% endblock %}

{% block js_footer %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
  const dateFormat = 'MM/DD/YYYY';
  const stats = {{stats|tojson}};
  const color = Chart.helpers.color;
  const days = [];
  const vrs = [];
  const abs = [];
  const lookups = [];
  const successful_lookups = [];
  stats['vr'].forEach(function(val, idx, arr) {
    days.push(new Date(val[0].replace(' GMT', '')));
    vrs.push(val[1]);
  });
  days.forEach(function(day, idx) {
    const abEvent = stats.ab.find(function(abVal, abIdx) {
      const abDate = new Date(abVal[0].replace(' GMT', ''));
      return abDate.getTime() === day.getTime();
    });
    if (abEvent) {
      abs[idx] = abEvent[1];
    } else {
      abs[idx] = 0;
    }
  });
  stats['reg'].forEach(function(val, idx, arr) {
    lookups.push(val[1]);
  });
  stats['reg_success'].forEach(function(val, idx, arr) {
    successful_lookups.push(val[1]);
  });
  const colors = {
    red: 'rgb(170, 51, 57)',
    orange: 'rgb(255, 159, 64)',
    yellow: 'rgb(255, 205, 86)',
    green: 'rgb(0, 118, 130)',
    blue: 'rgb(54, 162, 235)',
    purple: 'rgb(153, 102, 255)',
    grey: 'rgb(201, 203, 207)'
  };
  let config = {
    type: 'line',
    data: {
      labels: days,
      datasets: [{
        label: 'Completed Voter Registrations',
        backgroundColor: color(colors.green).alpha(0.5).rgbString(),
        borderColor: colors.green,
        fill: false,
        data: vrs,
      }, {
        label: 'Completed Advanced Ballots',
        backgroundColor: color(colors.red).alpha(0.5).rgbString(),
        borderColor: colors.red,
        fill: false,
        data: abs,
      }, {
        label: 'Registration Lookups',
        backgroundColor: color(colors.blue).alpha(0.5).rgbString(),
        borderColor: colors.blue,
        fill: false,
        data: lookups,
      }, {
        label: 'Registrations Found',
        backgroundColor: color(colors.grey).alpha(0.5).rgbString(),
        borderColor: colors.grey,
        fill: false,
        data: successful_lookups,
      }],
    },
    options: {
      responsive: true,
      maintainAspectRatio: true,
      onResize: function (chart, newSize) {
        // console.log({ chart, newSize, styleHeight: chart.canvas.style.height });
        // chart.canvas.style.height = chart.canvas.parentNode.style.height;
      },
      title: {
        display: true,
        text: 'KSVotes.org Daily Stats'
      },
      scales: {
        xAxes: [{
          type: 'time',
          time: {
            parser: dateFormat,
            tooltipFormat: 'll'
          },
          display: true,
          scaleLabel: {
            display: true,
            labelString: 'Date'
          },
        }],
        yAxes: [{
          display: true,
          scaleLabel: {
            display: true,
            labelString: 'Voters'
          }
        }]
      }
    }
  };

  $(document).ready(function() {
    let ctx = document.getElementById('stats').getContext('2d');
    window.stats = new Chart(ctx, config);
  });

</script>
{% endblock %}
