{%
  set flows = {
    'ab': {
      1: url_for('main.ab1_election_picker'),
      2: url_for('main.ab3_address'),
      3: url_for('main.ab5_identification'),
      4: url_for('main.ab6_preview_sign'),
      5: url_for('main.ab7_affirmation'),
      6: url_for('main.ab8_submission'),
    },
    'vr': {
      1: url_for('main.vr1_citizenship'),
      2: url_for('main.vr2_name'),
      3: url_for('main.vr3_address'),
      4: url_for('main.vr4_party'),
      5: url_for('main.vr5_identification'),
      6: url_for('main.vr6_preview_sign'),
      7: url_for('main.vr7_affirmation'),
      8: url_for('main.vr8_submission'),
    }
  }
%}
{% if flow_flavor is not defined %}
 {% set flow_flavor = 'vr' %}
{% endif %}
{% set flow_map = flows[flow_flavor] %}
{% if total_steps is not defined %}
 {% set total_steps = flow_map.keys()|length %}
{% endif %}
<div id="step-nav">
 <ul class="mb-0 p-0">
  {% for stepN in range(1, total_steps) %}
   <li class="list-inline-item {{stepN}}">
    {% set item_url = '#step-'+stepN|string %}
    {% if stepN <= current_step|int and current_step|int != total_steps %}
     {% set item_url = flow_map[stepN] %}
    {% endif %}
    <a href="{{item_url}}">
     <span class="fa-stack fa-sm">
   {% if stepN < current_step|int %}
      <span class="complete">
       <i class="fa fa-check-circle-o fa-2x"></i>
     </span>
   {% elif stepN == current_step|int %}
      <span class="current">
       <i class="fa fa-circle-o fa-stack-2x"></i>
       <strong class="fa-stack-1x">{{stepN}}</strong>
      </span>
   {% else %}
      <span class="incomplete">
       <i class="fa fa-circle-o fa-stack-2x"></i>
       <strong class="fa-stack-1x">{{stepN}}</strong>
      </span>
   {% endif %}
     </span>
    </a>

   {% if not loop.last %}
    <!-- i class="fa fa-long-arrow-right"></i -->
   {% endif %}

   </li>
  {% endfor %}
 </ul>
</div>
