{% extends 'base.html' %}
{% block title %} Terms of Service {% endblock %}

{% block content %}
<div id="terms-of-service" class="container">
<h1 class="c123 c127 c140">TERMS OF SERVICE AGREEMENT</h1>
<p class="c123 c132 c140">PLEASE READ THE FOLLOWING TERMS OF
SERVICE AGREEMENT CAREFULLY. BY ACCESSING OR USING OUR SITES AND
OUR SERVICES, YOU HEREBY AGREE TO BE BOUND BY THE TERMS AND ALL
TERMS INCORPORATED HEREIN BY REFERENCE. IT IS THE RESPONSIBILITY OF
YOU, THE USER, CUSTOMER, OR PROSPECTIVE CUSTOMER TO READ THE TERMS
AND CONDITIONS BEFORE PROCEEDING TO USE THIS SITE. IF YOU DO NOT
EXPRESSLY AGREE TO ALL OF THE TERMS AND CONDITIONS, THEN PLEASE DO
NOT ACCESS OR USE OUR SITES OR OUR SERVICES. THIS TERMS OF SERVICE
AGREEMENT IS EFFECTIVE AS OF 10/01/2017.</p>
<aside class="c123 c131 c140">ACCEPTANCE OF TERMS</aside>
<p class="c123 c132 c140">The following Terms of Service Agreement
(the "TOS") is a legally binding agreement that shall govern the
relationship with our users and others which may interact or
interface with Blueprint Kansas, Inc, also known as Blueprint
Kansas, located at PO Box 47413, Wichita, Kansas 67201 and our
subsidiaries and affiliates, in association with the use of the
Blueprint Kansas website, which includes KSVotes.org, (the "Site")
and its Services, which shall be defined below.</p>
<aside class="c123 c131 c140">DESCRIPTION OF WEBSITE SERVICES
OFFERED</aside>
<p class="c123 c132 c140">The Site is a non-profit website which
has the following description:</p>
<p class="c123 c132 c140">KSVotes.org provides voter registration
services for users in the state of Kansas. The website completes a
federal voter registration form using information entered by the
user and accepts a signature via touch or mouse. It then emails a
copy of the form to the county clerk or election official in the
user's county.</p>
<p class="c123 c132 c140">Any and all visitors to our site shall be
deemed as "users" of the herein contained Services provided for the
purpose of this TOS.</p>
<p class="c123 c132 c140">The user acknowledges and agrees that the
Services provided and made available through our website and
applications, which may include some mobile applications and that
those applications may be made available on various social media
networking sites and numerous other platforms and downloadable
programs, are the sole property of Blueprint Kansas, Inc. At its
discretion, Blueprint Kansas, Inc may offer additional website
Services and/or products, or update, modify or revise any current
content and Services, and this Agreement shall apply to any and all
additional Services and/or products and any and all updated,
modified or revised Services unless otherwise stipulated. Blueprint
Kansas, Inc does hereby reserve the right to cancel and cease
offering any of the aforementioned Services and/or products. You,
as the end user acknowledge, accept and agree that Blueprint
Kansas, Inc shall not be held liable for any such updates,
modifications, revisions, suspensions or discontinuance of any of
our Services and/or products. Your continued use of the Services
provided, after such posting of any updates, changes, and/or
modifications shall constitute your acceptance of such updates,
changes and/or modifications, and as such, frequent review of this
Agreement and any and all applicable terms and policies should be
made by you to ensure you are aware of all terms and policies
currently in effect. Should you not agree to the updated, revised
or modified terms, you must stop using the provided Services
forthwith.</p>
<p class="c123 c132 c140">Furthermore, the user understands,
acknowledges and agrees that the Services offered shall be provided
"AS IS" and as such Blueprint Kansas, Inc shall not assume any
responsibility or obligation for the timeliness, missed delivery,
deletion and/or any failure to store user content, communication or
personalization settings.</p>
<aside class="c123 c131 c140">CAUTIONS FOR GLOBAL USE AND EXPORT
AND IMPORT COMPLIANCE</aside>
<p class="c123 c132 c140">Due to the global nature of the internet,
through the use of our network you hereby agree to comply with all
local rules relating to online conduct and that which is considered
acceptable Content. Uploading, posting and/or transferring of
software, technology and other technical data may be subject to the
export and import laws of the United States and possibly other
countries. Through the use of our network, you thus agree to comply
with all applicable export and import laws, statutes and
regulations, including, but not limited to, the Export
Administration Regulations
(http://www.access.gpo.gov/bis/ear/ear_data.html), as well as the
sanctions control program of the United States
(http://www.treasury.gov/resource-center/sanctions/Programs/Pages/Programs.aspx).
Furthermore, you state and pledge that you:<br>
<br>
a) are not on the list of prohibited individuals which may be
identified on any government export exclusion report
(http://www.bis.doc.gov/complianceandenforcement/liststocheck.htm)
nor a member of any other government which may be part of an
export-prohibited country identified in applicable export and
import laws and regulations;<br>
<br>
b) agree not to transfer any software, technology or any other
technical data through the use of our network Services to any
export-prohibited country;<br>
<br>
c) agree not to use our website network Services for any military,
nuclear, missile, chemical or biological weaponry end uses that
would be a violation of the U.S. export laws; and<br>
<br>
d) agree not to post, transfer nor upload any software, technology
or any other technical data which would be in violation of the U.S.
or other applicable export and/or import laws.</p>
<aside class="c123 c131 c140">INDEMNITY</aside>
<p class="c123 c132 c140">All users herein agree to insure and hold
Blueprint Kansas, Inc, our subsidiaries, affiliates, agents,
employees, officers, partners and/or licensors blameless or not
liable for any claim or demand, which may include, but is not
limited to, reasonable attorney fees made by any third party which
may arise from any content a user of our site may submit, post,
modify, transmit or otherwise make available through our Services,
the use of Blueprint Kansas Services or your connection with these
Services, your violations of the Terms of Service and/or your
violation of any such rights of another person.</p>
<aside class="c123 c131 c140">COMMERCIAL REUSE OF SERVICES</aside>
<p class="c123 c132 c140">The user herein agrees not to replicate,
duplicate, copy, trade, sell, resell nor exploit for any commercial
reason any part, use of, or access to Blueprint Kansas's sites.</p>
<aside class="c123 c131 c140">MODIFICATIONS</aside>
<p class="c123 c132 c140">Blueprint Kansas, Inc shall reserve the
right at any time it may deem fit, to modify, alter and or
discontinue, whether temporarily or permanently, our service, or
any part thereof, with or without prior notice. In addition, we
shall not be held liable to you or to any third party for any such
alteration, modification, suspension and/or discontinuance of our
Services, or any part thereof.</p>
<aside class="c123 c131 c140">LINKS</aside>
<p class="c123 c132 c140">Either Blueprint Kansas, Inc or any third
parties may provide links to other websites and/or resources. Thus,
you acknowledge and agree that we are not responsible for the
availability of any such external sites or resources, and as such,
we do not endorse nor are we responsible or liable for any content,
products, advertising or any other materials, on or available from
such third party sites or resources. Furthermore, you acknowledge
and agree that Blueprint Kansas, Inc shall not be responsible or
liable, directly or indirectly, for any such damage or loss which
may be a result of, caused or allegedly to be caused by or in
connection with the use of or the reliance on any such content,
goods or Services made available on or through any such site or
resource.</p>
<aside class="c123 c131 c140">PROPRIETARY RIGHTS</aside>
<p class="c123 c132 c140">You do hereby acknowledge and agree that
Blueprint Kansas, Inc's Services and any essential software that
may be used in connection with our Services ("Software") shall
contain proprietary and confidential material that is protected by
applicable intellectual property rights and other laws.
Furthermore, you herein acknowledge and agree that any Content
which may be contained in any advertisements or information
presented by and through our Services or by advertisers is
protected by copyrights, trademarks, patents or other proprietary
rights and laws. Therefore, except for that which is expressly
permitted by applicable law or as authorized by Blueprint Kansas,
Inc or such applicable licensor, you agree not to alter, modify,
lease, rent, loan, sell, distribute, transmit, broadcast, publicly
perform and/or created any plagiaristic works which are based on
Blueprint Kansas, Inc Services (e.g. Content or Software), in whole
or part.</p>
<p class="c123 c132 c140">Blueprint Kansas, Inc herein has granted
you personal, non-transferable and non-exclusive rights and/or
license to make use of the object code or our Software on a single
computer, as long as you do not, and shall not, allow any third
party to duplicate, alter, modify, create or plagiarize work from,
reverse engineer, reverse assemble or otherwise make an attempt to
locate or discern any source code, sell, assign, sublicense, grant
a security interest in and/or otherwise transfer any such right in
the Software. Furthermore, you do herein agree not to alter or
change the Software in any manner, nature or form, and as such, not
to use any modified versions of the Software, including and without
limitation, for the purpose of obtaining unauthorized access to our
Services. Lastly, you also agree not to access or attempt to access
our Services through any means other than through the interface
which is provided by Blueprint Kansas, Inc for use in accessing our
Services.</p>
<aside class="c123 c131 c140">WARRANTY DISCLAIMERS</aside>
<p class="c123 c132 c140">YOU HEREIN EXPRESSLY ACKNOWLEDGE AND
AGREE THAT:<br>
<br>
a) THE USE OF BLUEPRINT KANSAS, INC SERVICES AND SOFTWARE ARE AT
THE SOLE RISK BY YOU. OUR SERVICES AND SOFTWARE SHALL BE PROVIDED
ON AN "AS IS" AND/OR "AS AVAILABLE" BASIS. BLUEPRINT KANSAS, INC
AND OUR SUBSIDIARIES, AFFILIATES, OFFICERS, EMPLOYEES, AGENTS,
PARTNERS AND LICENSORS EXPRESSLY DISCLAIM ANY AND ALL WARRANTIES OF
ANY KIND WHETHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED
TO ANY IMPLIED WARRANTIES OF TITLE, MERCHANTABILITY, FITNESS FOR A
PARTICULAR PURPOSE AND NON-INFRINGEMENT.<br>
<br>
b) BLUEPRINT KANSAS, INC AND OUR SUBSIDIARIES, OFFICERS, EMPLOYEES,
AGENTS, PARTNERS AND LICENSORS MAKE NO SUCH WARRANTIES THAT (i)
BLUEPRINT KANSAS, INC SERVICES OR SOFTWARE WILL MEET YOUR
REQUIREMENTS; (ii) BLUEPRINT KANSAS, INC SERVICES OR SOFTWARE SHALL
BE UNINTERRUPTED, TIMELY, SECURE OR ERROR-FREE; (iii) THAT SUCH
RESULTS WHICH MAY BE OBTAINED FROM THE USE OF THE BLUEPRINT KANSAS,
INC SERVICES OR SOFTWARE WILL BE ACCURATE OR RELIABLE; (iv) QUALITY
OF ANY PRODUCTS, SERVICES, ANY INFORMATION OR OTHER MATERIAL WHICH
MAY BE PURCHASED OR OBTAINED BY YOU THROUGH OUR SERVICES OR
SOFTWARE WILL MEET YOUR EXPECTATIONS; AND (v) THAT ANY SUCH ERRORS
CONTAINED IN THE SOFTWARE SHALL BE CORRECTED.<br>
<br>
c) ANY INFORMATION OR MATERIAL DOWNLOADED OR OTHERWISE OBTAINED BY
WAY OF BLUEPRINT KANSAS, INC SERVICES OR SOFTWARE SHALL BE ACCESSED
BY YOUR SOLE DISCRETION AND SOLE RISK, AND AS SUCH YOU SHALL BE
SOLELY RESPONSIBLE FOR AND HEREBY WAIVE ANY AND ALL CLAIMS AND
CAUSES OF ACTION WITH RESPECT TO ANY DAMAGE TO YOUR COMPUTER AND/OR
INTERNET ACCESS, DOWNLOADING AND/OR DISPLAYING, OR FOR ANY LOSS OF
DATA THAT COULD RESULT FROM THE DOWNLOAD OF ANY SUCH INFORMATION OR
MATERIAL.<br>
<br>
d) NO ADVICE AND/OR INFORMATION, DESPITE WHETHER WRITTEN OR ORAL,
THAT MAY BE OBTAINED BY YOU FROM BLUEPRINT KANSAS, INC OR BY WAY OF
OR FROM OUR SERVICES OR SOFTWARE SHALL CREATE ANY WARRANTY NOT
EXPRESSLY STATED IN THE TOS.<br>
<br>
e) A SMALL PERCENTAGE OF SOME USERS MAY EXPERIENCE SOME DEGREE OF
EPILEPTIC SEIZURE WHEN EXPOSED TO CERTAIN LIGHT PATTERNS OR
BACKGROUNDS THAT MAY BE CONTAINED ON A COMPUTER SCREEN OR WHILE
USING OUR SERVICES. CERTAIN CONDITIONS MAY INDUCE A PREVIOUSLY
UNKNOWN CONDITION OR UNDETECTED EPILEPTIC SYMPTOM IN USERS WHO HAVE
SHOWN NO HISTORY OF ANY PRIOR SEIZURE OR EPILEPSY. SHOULD YOU,
ANYONE YOU KNOW OR ANYONE IN YOUR FAMILY HAVE AN EPILEPTIC
CONDITION, PLEASE CONSULT A PHYSICIAN IF YOU EXPERIENCE ANY OF THE
FOLLOWING SYMPTOMS WHILE USING OUR SERVICES: DIZZINESS, ALTERED
VISION, EYE OR MUSCLE TWITCHES, LOSS OF AWARENESS, DISORIENTATION,
ANY INVOLUNTARY MOVEMENT, OR CONVULSIONS.</p>
<aside class="c123 c131 c140">LIMITATION OF LIABILITY</aside>
<p class="c123 c132 c140">YOU EXPLICITLY ACKNOWLEDGE, UNDERSTAND
AND AGREE THAT BLUEPRINT KANSAS, INC AND OUR SUBSIDIARIES,
AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, PARTNERS AND LICENSORS
SHALL NOT BE LIABLE TO YOU FOR ANY PUNITIVE, INDIRECT, INCIDENTAL,
SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING, BUT NOT
LIMITED TO, DAMAGES WHICH MAY BE RELATED TO THE LOSS OF ANY
PROFITS, GOODWILL, USE, DATA AND/OR OTHER INTANGIBLE LOSSES, EVEN
THOUGH WE MAY HAVE BEEN ADVISED OF SUCH POSSIBILITY THAT SAID
DAMAGES MAY OCCUR, AND RESULT FROM:<br>
<br>
a) THE USE OR INABILITY TO USE OUR SERVICE;<br>
<br>
b) THE COST OF PROCURING SUBSTITUTE GOODS AND SERVICES;<br>
<br>
c) UNAUTHORIZED ACCESS TO OR THE ALTERATION OF YOUR TRANSMISSIONS
AND/OR DATA;<br>
<br>
d) STATEMENTS OR CONDUCT OF ANY SUCH THIRD PARTY ON OUR
SERVICE;<br>
<br>
e) AND ANY OTHER MATTER WHICH MAY BE RELATED TO OUR SERVICE.</p>
<aside class="c123 c131 c140">RELEASE</aside>
<p class="c123 c132 c140">In the event you have a dispute, you
agree to release Blueprint Kansas, Inc (and its officers,
directors, employees, agents, parent subsidiaries, affiliates,
co-branders, partners and any other third parties) from claims,
demands and damages (actual and consequential) of every kind and
nature, known and unknown, suspected or unsuspected, disclosed and
undisclosed, arising out of or in any way connected to such
dispute.</p>
<aside class="c123 c131 c140">EXCLUSION AND LIMITATIONS</aside>
<p class="c123 c132 c140">THERE ARE SOME JURISDICTIONS WHICH DO NOT
ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR THE LIMITATION OF
EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES.
THEREFORE, SOME OF THE ABOVE LIMITATIONS OF SECTIONS WARRANTY
DISCLAIMERS AND LIMITATION OF LIABILITY MAY NOT APPLY TO YOU.</p>
<aside class="c123 c131 c140">THIRD PARTY BENEFICIARIES</aside>
<p class="c123 c132 c140">You herein acknowledge, understand and
agree, unless otherwise expressly provided in this TOS, that there
shall be no third-party beneficiaries to this agreement.</p>
<aside class="c123 c131 c140">NOTICE</aside>
<p class="c123 c132 c140">Blueprint Kansas, Inc may furnish you
with notices, including those with regards to any changes to the
TOS, including but not limited to email, regular mail, MMS or SMS,
text messaging, postings on our website Services, or other
reasonable means currently known or any which may be herein after
developed. Any such notices may not be received if you violate any
aspects of the TOS by accessing our Services in an unauthorized
manner. Your acceptance of this TOS constitutes your agreement that
you are deemed to have received any and all notices that would have
been delivered had you accessed our Services in an authorized
manner.</p>
<aside class="c123 c131 c140">COPYRIGHT OR INTELLECTUAL PROPERTY
INFRINGEMENT CLAIMS NOTICE & PROCEDURES</aside>
<p class="c123 c132 c140">Blueprint Kansas, Inc will always respect
the intellectual property of others, and we ask that all of our
users do the same. With regards to appropriate circumstances and at
its sole discretion, Blueprint Kansas, Inc may disable and/or
terminate the accounts of any user who violates our TOS and/or
infringes the rights of others. If you feel that your work has been
duplicated in such a way that would constitute copyright
infringement, or if you believe your intellectual property rights
have been otherwise violated, you should provide to us the
following information:<br>
<br>
a) The electronic or the physical signature of the individual that
is authorized on behalf of the owner of the copyright or other
intellectual property interest;<br>
<br>
b) A description of the copyrighted work or other intellectual
property that you believe has been infringed upon;<br>
<br>
c) A description of the location of the site which you allege has
been infringing upon your work;<br>
<br>
d) Your physical address, telephone number, and email address;<br>
<br>
e) A statement, in which you state that the alleged and disputed
use of your work is not authorized by the copyright owner, its
agents or the law;<br>
<br>
f) And finally, a statement, made under penalty of perjury, that
the aforementioned information in your notice is truthful and
accurate, and that you are the copyright or intellectual property
owner, representative or agent authorized to act on the copyright
or intellectual property owner's behalf.</p>
<p class="c123 c132 c140">The Blueprint Kansas, Inc Agent for
notice of claims of copyright or other intellectual property
infringement can be contacted as follows:<br>
<br>
Mailing Address:<br>
Blueprint Kansas, Inc<br>
Attn: Copyright Agent<br>
PO Box 47413<br>
Wichita, Kansas 67201<br>
<br>
Telephone: 785-414-9678<br>
Email: contact@blueprintkansas.org</p>
<aside class="c123 c131 c140">GENERAL INFORMATION</aside>
<aside class="c123 c131 c140">ENTIRE AGREEMENT</aside>
<p class="c123 c132 c140">This TOS constitutes the entire agreement
between you and Blueprint Kansas, Inc and shall govern the use of
our Services, superseding any prior version of this TOS between you
and us with respect to Blueprint Kansas, Inc Services. You may also
be subject to additional terms and conditions that may apply when
you use or purchase certain other Blueprint Kansas, Inc Services,
affiliate Services, third-party content or third-party
software.</p>
<aside class="c123 c131 c140">CHOICE OF LAW AND FORUM</aside>
<p class="c123 c132 c140">It is at the mutual agreement of both you
and Blueprint Kansas, Inc with regard to the TOS that the
relationship between the parties shall be governed by the laws of
the state of Kansas without regard to its conflict of law
provisions and that any and all claims, causes of action and/or
disputes, arising out of or relating to the TOS, or the
relationship between you and Blueprint Kansas, Inc, shall be filed
within the courts having jurisdiction within the County of
Sedgwick, Kansas or the U.S. District Court located in said state.
You and Blueprint Kansas, Inc agree to submit to the jurisdiction
of the courts as previously mentioned, and agree to waive any and
all objections to the exercise of jurisdiction over the parties by
such courts and to venue in such courts.</p>
<aside class="c123 c131 c140">WAIVER AND SEVERABILITY OF
TERMS</aside>
<p class="c123 c132 c140">At any time, should Blueprint Kansas, Inc
fail to exercise or enforce any right or provision of the TOS, such
failure shall not constitute a waiver of such right or provision.
If any provision of this TOS is found by a court of competent
jurisdiction to be invalid, the parties nevertheless agree that the
court should endeavor to give effect to the parties' intentions as
reflected in the provision, and the other provisions of the TOS
remain in full force and effect.</p>
<aside class="c123 c131 c140">STATUTE OF LIMITATIONS</aside>
<p class="c123 c132 c140">You acknowledge, understand and agree
that regardless of any statute or law to the contrary, any claim or
action arising out of or related to the use of our Services or the
TOS must be filed within year(s) after said claim or cause of
action arose or shall be forever barred.</p>
<aside class="c123 c131 c140">VIOLATIONS</aside>
<p class="c123 c132 c140">Please report any and all violations of
this TOS to Blueprint Kansas, Inc as follows:<br>
<br>
Mailing Address:<br>
Blueprint Kansas, Inc<br>
PO Box 47413<br>
Wichita, Kansas 67201<br>
<br>
Telephone: 785-414-9678<br>
<br>
Email: contact@blueprintkansas.org</p>
</div>
{% endblock %}
