{% extends 'base.html' %}
{% block title %} Terms of Use {% endblock %}

{% block content %}
<div id="terms-of-service" class="container py-4 col-md-7">

    <p class=MemoTitle ><a name=main><span
    >Acceptance of the Terms of Use</span></a></p>
    
    <p class=Bodyclause >These
    terms of use are entered into by and between you ("You") and Blueprint Kansas,
    Inc., also known as KSVotes.org ("<span class=Defterm><span >Corporation</span></span>").
    The following terms and conditions, together with any documents they expressly incorporate
    by reference and/or available by hyperlink (collectively, "<span class=Defterm><span
    >Terms of Use</span></span>"), govern Your access to and
    use of ksvotes.org, including any content, functionality, and services offered
    on or through ksvotes.org ("<span class=Defterm><span >Website</span></span>").</p>
    
    <p class=Bodyclause >Please
    read the Terms of Use carefully before accessing or using the Website. <b>By accessing
    or using any part of the Website, You accept and agree to be bound and abide by
    these Terms of Use and Privacy Policy, found at <a href="https://ksvotes.org/">https://ksvotes.org/</a>,
    incorporated herein by reference.</b> If You do not agree to all
    Terms of Use, then You may not access the Website or use any services. </p>
    
    <p class=Bodyclause >This
    Website is offered and available to users who are 18 years of age or older and
    are eligible to vote in the State of Kansas. By using this Website, You represent
    and warrant that You are of legal age to form a binding contract with the Corporation
    and meet all of the foregoing eligibility requirements. If You do not meet all
    of these requirements, You must not access or use the Website.</p>
    
    <p class=MemoTitle ><span
    >Changes to the Terms of Use</span></p>
    
    <p class=Bodyclause >Corporation
    may revise and update these Terms of Use from time to time in its sole
    discretion. All changes are effective immediately when posted. Your continued
    use of the Website following the posting of revised Terms of Use means You
    accept and agree to the changes. You are responsible to check this page from
    time to time so You are aware of any changes, as they are binding on You. </p>
    
    <p class=MemoTitle ><span
    >Intellectual Property Rights</span></p>
    
    <p class=Bodyclause >The
    Website and its entire contents, features, and functionality (including, but
    not limited to, all information, software, text, displays, images, video and
    audio, and the design, selection, and arrangement thereof), are owned by Corporation,
    its licensors, or other providers of such material and are protected by United
    States and international copyright, trademark, patent, trade secret, and other
    intellectual property or proprietary rights laws.</p>
    
    <p class=Bodyclause >These
    Terms of Use permit You to use the Website for Your personal, non-commercial
    use only. You must not access or use for any commercial purposes any part of
    the Website or any services or materials available through the Website. </p>
    
    <p class=Bodyclause >You
    cannot reproduce, duplicate, copy, sell, resell, or exploit any portion of the
    Website without express written consent by Corporation. If You print, copy,
    modify, download, or otherwise use the Website in breach of the Terms of Use, Your
    right to use the Website will cease immediately and You must, at Corporation's option,
    return or destroy any copies of the materials You have made. No right, title,
    or interest in or to the Website or any content on the Website is transferred
    to You, and all rights not expressly granted are reserved by the Corporation. </p>
    
    <p class=MemoTitle ><span
    >Trademarks</span></p>
    
    <p class=Bodyclause >The
    Corporation name and all related names, logos, product and service names,
    designs, and slogans are trademarks of the Corporation or its affiliates or
    licensors. You must not use such marks without the prior written permission of Corporation.
    All other names, logos, product and service names, designs, and slogans on this
    Website are the trademarks of their respective owners.</p>
    
    <p class=MemoTitle ><span
    >Prohibited Uses</span></p>
    
    <p class=Bodyclause >You
    may use the Website only for lawful purposes and in accordance with these Terms
    of Use. You agree not to use the Website in any way that violates any
    applicable federal, state, local, or international law or regulation, including,
    without limitation, any laws regarding the export of data or software to and
    from the United States or other countries. You further agree not to use the
    Website to engage in any conduct that restricts or inhibits anyone's use or
    enjoyment of the Website, or which, as determined by Corporation, may harm
    Corporation or users of the Website or expose them to liability.</p>
    
    <p class=Bodyclause >Additionally,
    You agree not to: (a) use the Website in any manner that could disable,
    overburden, damage, or impair the site or interfere with any other party's use
    of the Website, including their ability to engage in real time activities
    through the Website; (b) use any robot, spider, or other automatic device,
    process, or means to access the Website for any purpose, including monitoring
    or copying any of the material on the Website; (c) use any manual process to
    monitor or copy any of the material on the Website or for any other
    unauthorized purpose without Corporation's prior written consent; (d) use any
    device, software, or routine that interferes with the proper working of the
    Website; (e) introduce any viruses, trojan horses, worms, logic bombs, or other
    material which is malicious or technologically harmful; (f) attempt to gain
    unauthorized access to, interfere with, damage, or disrupt any parts of the
    Website, the server on which the Website is stored, or any server, computer, or
    database connected to the Website; (g) attack the Website via a
    denial-of-service attack or a distributed denial-of-service attack; or (h)
    otherwise attempt to interfere with the proper working of the Website.</p>
    
    <p class=MemoTitle ><span
    >Reliance on Information Posted</span></p>
    
    <p class=Bodyclause >The
    information presented on or through the Website is made available for general
    information purposes only and should not be relied upon or used as the sole
    basis for making decisions without consulting primary, more accurate, more
    complete, or more timely sources of information. Corporation does not warrant
    the accuracy or completeness of this information. Any reliance on the material
    on the Website is strictly at Your own risk. Corporation disclaims all
    liability and responsibility arising from any reliance placed on such materials
    by You or any other visitor to the Website, or by anyone who may be informed of
    any of its contents.</p>
    
    <p class=MemoTitle ><span
    >Information About You and Your Visits to
    the Website</span></p>
    
    <p class=Bodyclause >All
    information collected on this Website is subject to the Privacy Policy <span
    >[LINK TO WEBSITE'S PRIVACY POLICY]</span>. By using
    the Website, You consent to all actions taken by us with respect to Your information
    in compliance with the Privacy Policy. </p>
    
    <p class=MemoTitle ><span
    >Other Terms and Conditions</span></p>
    
    <p class=Bodyclause >Additional
    terms and conditions may also apply to specific portions, services, or features
    of the Website. All such additional terms and conditions are hereby
    incorporated by this reference into these Terms of Use.</p>
    
    <p class=MemoTitle ><span
    >Linking to the Website</span></p>
    
    <p class=Bodyclause >You
    may link to the Website, provided You do so in a way that is fair and legal and
    does not damage Corporation's reputation or take advantage of it, but You must
    not establish a link in such a way as to suggest any form of association, approval,
    or endorsement by Corporation without Corporation's prior express written
    consent. </p>
    
    <p class=MemoTitle ><span
    >Third-Party Links</span></p>
    
    <p class=Bodyclause >Third-party
    links on the Website may direct You to third-party websites that are not
    affiliated with Corporation. These links are provided for Your convenience
    only. This includes links contained in advertisements, including banner
    advertisements and sponsored links. Corporation is not responsible for
    examining or evaluating the content or accuracy, and Corporation does not
    warrant and will not have any liability or responsibility for any third-party
    materials or websites, or for any other materials, products, or services of
    third-parties.</p>
    
    <p class=Bodyclause >Corporation
    is not liable for any harm or damages related to the purchase or use of goods,
    services, resources, content, or any other transactions made in connection with
    any third-party websites. If You decide to access any of the third-party
    websites linked to this Website, You do so entirely at Your own risk and
    subject to the terms and conditions of use for such websites. Complaints,
    claims, concerns, or questions regarding third-party products should be
    directed to the third-party.</p>
    
    <p class=MemoTitle ><span
    >Geographic Restrictions</span></p>
    
    <p class=Bodyclause >The
    owner of the Website is based in the state of Kansas in the United States. This
    Website is provided for use only by persons located in the United States. Corporation
    makes no claims that the Website or any of its content is accessible or
    appropriate outside of the United States. Access to the Website may not be
    legal by certain persons or in certain countries. If You access the Website
    from outside the United States, You do so on Your own initiative and are
    responsible for compliance with local laws.</p>
    
    <p class=MemoTitle ><span
    >Disclaimer of Warranties</span></p>
    
    <p class=Bodyclause >You
    understand Corporation cannot and does not guarantee or warrant that files available
    for downloading from the internet or the Website will be free of viruses or
    other destructive code. You are responsible for implementing sufficient
    procedures and checkpoints to satisfy Your particular requirements for
    antivirus protection and accuracy of data input and output, and for maintaining
    a means external to Website for any reconstruction of any lost data. Corporation
    is not liable for any loss or damage caused by a distributed denial-of-service
    attack, viruses, or other technologically harmful material that may infect Your
    computer equipment, computer programs, data, or other proprietary material due
    to Your use of the Website or any services or items obtained through the
    Website or to Your downloading of any material posted on the Website, or on any
    third-party link on the Website. </p>
    
    <p class=Bodyclause >Your
    use of the Website, its content, and any services or items obtained through the
    Website is at Your own risk. The Website, its content, and any services or
    items obtained through the Website are provided on an "as is" and "as
    available" basis, without any warranties of any kind, either express or
    implied. Neither Corporation nor any person associated with Corporation makes
    any warranty or representation with respect to the completeness, security,
    reliability, quality, accuracy, or availability of the Website. Without
    limiting the foregoing, neither Corporation nor anyone associated with
    Corporation represents or warrants that the Website, its content or any
    services or items obtained through the Website will be accurate, reliable,
    error-free, or uninterrupted, that defects will be corrected, that the Website
    or the server that makes it available are free of viruses or other harmful
    components or that the Website or any services or items obtained through the
    Website will otherwise meet Your needs or expectations. </p>
    
    <p class=Bodyclause >The
    Corporation hereby disclaims all warranties of any kind, whether express,
    implied, statutory, or otherwise, including, but not limited to, any warranties
    of merchantability, non-infringement, and fitness for particular purpose. The
    foregoing does not affect any warranties which cannot be excluded or limited
    under applicable law.</p>
    
    <p class=MemoTitle ><span
    >Limitation on Liability</span></p>
    
    <p class=Bodyclause >In
    no event will Corporation, its affiliates or their licensors, service
    providers, employees, agents, officers, or directors be liable for damages of
    any kind, under any legal theory, arising out of or in connection with Your
    use, or inability to use, the Website, any websites linked to it, any content
    on the Website or such other websites, or any services or items obtained
    through the Website or such other websites, including any direct, indirect,
    special, incidental, consequential, or punitive damages, including, but not
    limited to, personal injury, pain and suffering, emotional distress, loss of
    revenue, loss of profits, loss of business or anticipated savings, loss of use,
    loss of goodwill, or loss of data, and whether caused by tort (including
    negligence), breach of contract, or otherwise, even if foreseeable. The
    foregoing does not affect any liability which cannot be excluded or limited
    under applicable law.</p>
    
    <p class=MemoTitle ><span
    >Indemnification</span></p>
    
    <p class=Bodyclause >You
    agree to defend, indemnify, and hold harmless Corporation, its affiliates,
    licensors and service providers, and its and their respective officers,
    directors, employees, contractors, agents, licensors, suppliers, successors,
    and assigns from and against any claims, liabilities, damages, judgments,
    awards, losses, costs, expenses, or fees (including reasonable attorneys' fees)
    arising out of or relating to Your violation of these Terms of Use or Your use
    of the Website, including, but not limited to, any use of the Website's
    content, services, and products other than as expressly authorized in these
    Terms of Use, or Your use of any information obtained from the Website.</p>
    
    <p class=MemoTitle ><span
    >Governing Law and Jurisdiction</span></p>
    
    <p class=Bodyclause >All
    matters relating to the Website and these Terms of Use and any dispute or claim
    arising therefrom or related thereto (in each case, including non-contractual
    disputes or claims), shall be governed by and construed in accordance with the
    internal laws of the State of Kansas without giving effect to any choice or
    conflict of law provision or rule. Any legal suit, action, or proceeding
    arising out of, or related to, these Terms of Use or the Website shall be
    instituted exclusively in the federal district court of Kansas or the courts of
    the State of Kansas at Sedgwick County.</p>
    
    <p class=MemoTitle ><span
    >Arbitration</span></p>
    
    <p class=Bodyclause >At
    Corporation's sole discretion, it may require You to submit any disputes
    arising from the use of these Terms of Use or the Website, including disputes
    arising from or concerning their interpretation, violation, invalidity,
    non-performance, or termination, to final and binding arbitration under the
    Rules of Arbitration of the American Arbitration Association, applying Kansas
    law.</p>
    
    <p class=MemoTitle ><span
    >Waiver </span></p>
    
    <p class=Bodyclause >No
    waiver by the Corporation of any term or condition set forth in these Terms of
    Use shall be deemed a further or continuing waiver of such term or condition or
    a waiver of any other term or condition, and any failure of the Corporation to
    assert a right or provision under these Terms of Use shall not constitute a
    waiver of such right or provision.</p>
    
    <p class=Bodyclause >Severability</p>
    
    <p class=Bodyclause >In
    the event that any provision of these Terms of Use is determined to be
    unlawful, void, or unenforceable for any reason, such provision shall nonetheless
    be enforceable to the fullest extent permitted by applicable law, and the
    unenforceable portion shall be deemed to be severed from these Terms of Use,
    but such determination shall not affect the validity and enforceability of any
    other remaining provisions.</p>
    
    <p class=MemoTitle ><span
    >Entire Agreement</span></p>
    
    <p class=Bodyclause >These
    Terms of Use, Privacy Policy, and any policies or operating rules posted by Corporation
    on this Website constitute the entire agreement and understanding between You and
    Corporation and govern Your use of the Website, superseding any prior or
    contemporaneous agreements, communications, and proposals, whether oral or
    written, between You and Corporation, including, but not limited to, any prior
    versions of the Terms of Use. </p>
    
    <p class=MemoTitle ><span
    >Contact Information</span></p>
    
    <p class=Bodyclause >This
    website is operated by Blueprint Kansas, Inc., a Kansas Nonprofit Corporation.
    Questions about the Terms of Use should be sent to us at <span
    >contact@blueprintkansas.org</span>.</p>
    
    <h4>Last Modified: October 9, 2017</h4>
    
    </div>

</div>
{% endblock %}
