<div class='mt-4' id="voter-view">
 {% if sos_reg|length == 1 %}
   {% set r = sos_reg[0] %}
   <table>
    <tbody>
     {% for th, td in r['tree'].items() %}
      <tr><th>{{th}}</th><td>{{td|safe}}</td></tr>
     {% endfor %}
     {% for sample_ballot in r['sample_ballot'] %}
      <tr>
       <th>Sample Ballot</th>
       <td><a href="{{sample_ballot['href']}}" target="_blank">{{sample_ballot['text']}}</a></td>
      </tr>
     {% endfor %}
    </tbody>
   </table>
 {% elif sos_reg|length > 1 %}
  <p>Sorry, there were too many results matching your name and DOB</p>
 {% endif %}
</div>
